.about {
    padding: 50px 0;

    @include respond-to(md) {
      padding: 5rem 0;
    }
  
    &__wrap {
      @include respond-to(md) {
        display: flex;
        justify-content: space-between;
      }
    }
  
    &__heading-content {
      margin-bottom: 60px;
  
      @include respond-to(md) {
        display: flex;
        gap: 1rem;
        margin-bottom: 6rem;
      }
  
      @include respond-to(lg) {
        gap: 6rem;
      }
    }
  
    &__img-content {
      @include respond-to(md) {
        display: flex;
        flex-direction: column-reverse;
        flex-basis: 35%;
        gap: 1rem;
        margin-right: -4vw;
      }
  
      @include respond-to(lg) {
        gap: 3rem;
        margin-right: 0;
      }
    }
  
    &__img-box {
      display: none;
    }
  
    &__heading h1 {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 10px;
      line-height: 12px;
      color: $color-black;
      font-family: $ff-sans;
      margin-bottom: 34px;
  
      @include respond-to(md) {
        font-size: 1.4rem;
        margin-bottom: 3.4rem;
        line-height: 2.5;
        letter-spacing: 0.65rem;
        margin-right: 2rem;
      }
  
      @include respond-to(lg) {
        font-size: 1.4rem;
        margin-right: 0;
      }

      @include respond-to(xlg) {
        margin-top: 1.2rem;
      }
    }
  
    &__title {
      color: rgba($color-black, $alpha: 0.3);
      font-size: 40px;
      font-family: $ff-serif;
      margin-bottom: 17px;
      cursor: pointer;

      @include respond-to(md) {
        margin-bottom: 1.7rem;
        font-size: 3.2rem;
      }
  
      @include respond-to(lg) {
        font-size: 4rem;
      }
  
      @include respond-to(xlg) {
        font-size: 6.8rem;
        line-height: 8rem;
        margin-bottom: 2rem;
      }
    }
  
    &__active {
      color: $color-black;

      span {
        position: relative;
        
        &:after {
          content: "";
          position: absolute;
          display: block;
          height: 0.2vw;
          width: 100%;
          left: 0;
          bottom: 0;
          background: #000;
          transition: transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99);
          
          @include respond-to(lg) {
            bottom: -0.4vw;
          }
        }
      }
    }
  
    &__active-content {
      display: flex;
    }
  
    &__img-box {
      margin-bottom: 30px;
      
      @include respond-to(md) {
        margin-bottom: 3rem;
      }
    }
  
    &__img {
      min-width: 228px;
      min-height: 311px;
      object-fit: cover;

      @include respond-to(md) {
        min-width: 22.8rem;
        min-height: 31.1rem;
      }
  
      @include respond-to(lg) {
        width: 100%;
        max-width: 36.4rem;
        height: 100%;
      }
    }
  
    &__text {
      font-size: 21px;
      line-height: 27px;
      color: $color-silver;

      @include respond-to(md) {
        font-size: 1.6rem;
        line-height: 2.3rem;
        padding-right: 3rem;
      }
  
      @include respond-to(lg) {
        font-size: 2.5rem;
        line-height: 4rem;
      }
  
      @include respond-to(xlg) {
        font-size: 3rem;
      }
    }
  }
  