.authentic {
    padding: 8rem 0;
    background-color: $color-light;
  
    &__wrap {
      @include respond-to(sm) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        gap: 1rem;
        padding: 0 5vw 0 10.8vw;
      }
  
      @include respond-to(xlg) {
        gap: 24rem;
      }
    }
  
    &__container {
      margin: 0 auto;
      padding: 0 1.9rem;
  
      @include respond-to(sm) {
        flex-basis: 50%;
      }
  
      @include respond-to(md) {
      }
  
      @include respond-to(lg) {
        flex-basis: 39%;
        padding: 0;
      }
  
      @include respond-to(xlg) {
        flex-basis: 40%;
      }
    }
  
    &__img-box {
      margin-bottom: 4rem;
  
      @include respond-to(sm) {
        flex-basis: 50%;
      }
    }
  
    &__text-box h2 {
      text-transform: uppercase;
      @include respond-to(xlg) {
        font-size: 5.2rem;
        line-height: 7rem;
      }
    }
  
    &__text-wrap {
      margin-top: 3rem;
  
      @include respond-to(lg) {
        margin-top: 6rem;
      }
    }
  
    &__text {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
      line-height: 2.6rem;

      & > * + * {
        margin-top: 2rem;
      }
  
      @include respond-to(md) {
        font-size: 1.8rem;
      }
  
      @include respond-to(lg) {
        font-size: 2rem;
        max-width: 39.6rem;
        font-size: 1.9rem;
      }
    }
  }
  