.authentic {
    padding: 0 0 80px;
    background-color: $color-light;

    @include respond-to(md) {
      padding: 0;
    }
  
    &__wrap {
      @include respond-to(sm) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        gap: 1rem;
        padding: 0 5vw 0 10.8vw;
      }

      @include respond-to(md) {
        padding: 0 4vw;
        align-items: flex-start;
      }  

      @include respond-to(lg) {
        align-items: flex-end;
        padding: 0 4vw 0 10.8vw;
      }
  
      @include respond-to(xlg) {
        gap: 24rem;
      }
    }
  
    &__container {
      margin: 0 auto;
      padding: 0 19px;
  
      @include respond-to(sm) {
        flex-basis: 50%;
      }
  
      @include respond-to(md) {
        padding: 0 1.9rem;
        padding-top: 4rem;
      }
  
      @include respond-to(lg) {
        flex-basis: 39%;
        padding: 0;
      }
  
      @include respond-to(xlg) {
        flex-basis: 40%;
      }
    }
  
    &__img-box {
      margin-bottom: 40px;
  
      @include respond-to(sm) {
        flex-basis: 50%;
      }

      @include respond-to(md) {
        margin-bottom: 4rem;
      }
    }
  
    &__text-box h2 {
      text-transform: uppercase;

      @include respond-to(md) {
        font-size: 3rem;
      }

      @include respond-to(xlg) {
        font-size: 5.2rem;
        line-height: 1.5;
      }
    }
  
    &__text-wrap {
      margin-top: 30px;
      
      @include respond-to(md) {
        margin-top: 3rem;
      }
  
      @include respond-to(lg) {
        margin-top: 6rem;
      }
    }
  
    &__text {
      font-size: 14px;
      margin-bottom: 15px;
      line-height: 26px;

      & > * + * {
        margin-top: 20px;

        @include respond-to(md) {
          margin-bottom: 2rem;
        }
      }
  
      @include respond-to(md) {
        font-size: 1.2rem;
        line-height: 2.1rem;
        margin-bottom: 7.5rem;
      }
  
      @include respond-to(lg) {
        font-size: 2rem;
        max-width: 39.6rem;
        line-height: 2.8rem;
        font-size: 1.9rem;
      }
    }
  }
  