.back-to-top {
    display: none;
    position: fixed;
    width: 1.875vw;
    height: 2.76042vw;
    bottom: 2.5vw;
    right: 3.54167vw;
    cursor: pointer;
    z-index: 14;
    border: none;
    padding: 0;
    background-color: transparent;

    @include respond-to(lg) {
        display: block;
    }
}