.btn {
  color: $color-white;
  background-color: $color-black;
  height: 5.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;

  @include respond-to(sm) {
    max-width: 35rem;
  }

  @include respond-to(md) {
    font-size: 1.6rem;
    max-width: 41rem;
    height: 5.7rem;
  }
  
  @include respond-to(lg) {
    font-size: 1.6rem;
    max-width: 35rem;
    height: 7.5rem;
  }

  &:hover .btn--arrow {
    transform: scale(1) translateX(-5px);
    opacity: 1;
  }

  &:hover .btn--span {
    transform: translateX(25px);
  }

  &--span {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;
    transition: transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99);
  }

  &--arrow {
    color: $color-white;
    height: 100%;
    opacity: 0;
    margin-top: 0.2rem;
    transform: scale(0.8) translateX(0);
    transition: transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
      opacity 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99);

    & svg {
      max-width: 2.8rem;
      max-height: 1.9rem;
      fill: $color-white;
    }
  }
}
