.btn {
  color: $color-white;
  background-color: $color-black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border: none;

  @include respond-to(sm) {
    max-width: 350px;
  }

  @include respond-to(md) {
    font-size: 1.6rem;
    max-width: 41rem;
    height: 5.7rem;
  }
  
  @include respond-to(lg) {
    font-size: 1.6rem;
    max-width: 35rem;
    height: 7.5rem;
  }

  @include respond-to(lg) {
    &:hover .btn--arrow {
      transform: scale(1) translateX(-5px);
      opacity: 1;
    }
    
    &:hover .btn--span {
      transform: translateX(25px);
    }
  }

  &--span {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
    -webkit-transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99);
    
    @include respond-to(lg) {
      margin-right: 3rem;
      transform: translate(0);
    }
  }

  &--arrow {
    color: $color-white;
    height: 100%;
    opacity: 1;
    margin-top: 0.2rem;
    transform: scale(1) translateX(-5px);
    transition: transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
    opacity 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
    -webkit-transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99);
    
    @include respond-to(lg) {
      transform: scale(0.8) translateX(0);
      opacity: 0;
    }

    svg {
      max-width: 2.8rem;
      max-height: 1.9rem;
      fill: $color-white;
    }
  }
}
