.btn {
  color: $color-white;
  background-color: $color-black;
  height: 5.9rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond-to(sm) {
    max-width: 35rem;
  }

  @include respond-to(md) {
    font-size: 2.2rem;
    max-width: 45rem;
  }

  @include respond-to(lg) {
    height: 7.5rem;
    font-size: 1.6rem;
    max-width: 35rem;
  }

  &:hover .btn--arrow {
    transform: scale(1) translateX(-5px);
    opacity: 1;
  }

  &:hover .btn--span {
    transform: translateX(25px);
  }

  &--span {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;
    transition: transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99);
  }

  &--arrow {
    color: $color-white;
    height: 100%;
    opacity: 0;
    margin-top: 0.2rem;
    transform: scale(0.8) translateX(0);
    transition: transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
      opacity 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99);

    & svg {
      fill: $color-white;
    }
  }
}
