.def-page {
    margin: 5rem 0;

    &__container {
        display: flex;
        padding: 0 2rem;

        @include respond-to(lg) {
            padding: 5rem 20rem 0;
        }
    }

    &__aside {
        display: none;
        flex: 0 0 45rem;
        font-size: 1.6rem;
        padding-right: 5rem;

        @include respond-to(lg) {
            display: block;
        }
    }

    &__list {
        line-height: 1.2;

        & > * + * {
            margin-top: 3rem;
        }
    }

    &__list-item {
        opacity: 0.5;
        transition: 0.2s;
        cursor: pointer;
        max-width: 35rem;

        &:hover {
            opacity: 1;
        }
    }

    &__content {
        font-size: 1.6rem;
        line-height: 1.5;
        color: rgba(0,0,0,.7);

        @include respond-to(lg) {
            font-size: 1.8rem;
        }

        h2, h3, h4 {
            line-height: 1.2;
            color: black;
        }

        strong {
            font-weight: bold;
        }

        h2 {
            font-size: 3rem;

            @include respond-to(md) {
                font-size: 4rem;
            }

            @include respond-to(lg) {
                font-size: 5rem;
            }
        }

        h3 {
            font-size: 1.8rem;

            @include respond-to(lg) {
                font-size: 3.5rem;
            }
        }

        a {
            color: silver;

            &:hover {
                text-decoration: underline;
            }
        }

        & > * + * {
            margin-top: 3rem;
        }

        & > * + h2,
        & > * + h3 {
            margin-top: 5rem;
        }

        &--faq {
            h2 {
                font-size: 3.5rem;
                text-align: center;

                @include respond-to(lg) {
                    font-size: 2.70833vw;
                    line-height: 3.22917vw;
                    margin-bottom: 2.13542vw;
                    text-align: left;
                }
            }
        }
    }
}