.faq-accordion {
    color: rgb(90, 88, 88);
    margin-bottom: 7rem;

    &__item {
        border-bottom: 1px solid rgba(90,88,88,.5);

        &--active {
            .faq-accordion {
                &__button {
                    color: rgb(192, 192, 192);

                    &:after {
                        display: none;
                    }
                }

                &__answer {
                    max-height: max-content;
                    padding-bottom: 1.30208vw;
                }
            }
        }
    }

    &__button {
        border: none;
        padding: 0;
        background-color: #fff;
        width: 100%;
        font-size: 1.6rem;
        position: relative;
        text-align: left;
        padding: 3.25vw 17.1875vw 3.25vw 0;
        font-family: $ff-serif;
        font-size: 2.34375vw;
        line-height: 3.90625vw;
        
        @include respond-to(lg) {
            font-size: 1.25vw;
            line-height: 2.1875vw;
            padding: 1.04167vw 10.41667vw 1.04167vw 0;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: rgba(90,88,88,.5);
        }

        &::before {
            width: 1.5rem;
            height: 1px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &::after {
            width: 1px;
            height: 1.5rem;
            top: 50%;
            right: 0.7rem;
            transform: translate(-50%, -50%);
        }
    }

    &__answer {
        overflow: hidden;
        max-height: 0;
        transition: 0.2s;
        font-size: 1.82292vw;
        line-height: 2.73438vw;

        @include respond-to(lg) {
            font-size: .9375vw;
            line-height: 1.66667vw;
        }
    }
}