.featured-article {
    &-container {
        margin-bottom: 53px;
    }

    &__img-container {
        img {
            width: 100%;
        }
    }

    &__text {
        @media screen and (min-width: $break--tblt) {
            position: absolute;
            width: 477px;
        }
        @media screen and (min-width: $break--dsktp) {
            padding-left: 40px;
            padding-top: 66px;
            width: 766px;
        }
    }

    &__title {
        margin-top: 16px;
        margin-bottom: 18px;
    }

    &__date {
        margin-bottom: 17px;
    }
}