.product-filters{
	padding-top: 4rem;
	padding-bottom: 4rem;

	.filter-option{
		transition: color .4s;
		font-size: 1rem;
		color: #666;

		@include respond-to(lg) {
			font-size: 1.8rem;
		}
		
		&:hover, &.active{
			color: #d35c34;
		}
	}
}
