.fit {
  padding-top: 5rem;

  &__title {
    text-align: center;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__text-box {
    @include respond-to(lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 73%;
    }
  }

  &__text {
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.2rem;
    color: rgba($color-black, 0.6);

    @include respond-to(lg) {
      font-size: 1.8rem;
      line-height: 3.5rem;
    }
  }
}
