.gdpr-banner-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: $color--black;
  opacity: 0.95;

  .gdpr-banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px;

    @media screen and (min-width: $break--tblt) {
      height: 16px;
      padding: 10px;
    }
    .gdpr-content {
      .gdpr-text {
        color: $color--white;
        padding: 0 5px;
      }

      .gdpr-close-btn {
        background-color: $color--white;
        padding: 2px 10px;
        text-decoration: none;
        font-size: .55rem;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.hide-gdpr-banner {
  display: none;
}
