.global-footer {
  border-top: 2px solid #A8A795;
  .global-footer-wrap {
    flex-wrap: wrap;
    text-align: center;
    padding-top:1.5rem;
    @include respond-to(md) {
      flex-wrap: nowrap;
      text-align: left;
      padding: 4.1rem 6rem 6.1rem;
      //idth:60rem;
      margin:0 auto;
    }
    .brand {
      width: 100%;
      @include respond-to(md) {
        width: 5rem;
      }
      .logo {
        margin-bottom:2rem;
        img {
          margin:0 auto;
          width:100%;
        }
        @include respond-to(md) {
          margin-bottom:4rem;
        }
      }
      .social {
        margin-top:.5rem;
      }
    }
    .links {
      width: 100%;
      ul {
        list-style: none;
        li {
          margin-bottom:1.25rem;
        }
      }
      @include respond-to(md) {
        width: 8rem;
        ul {
          li {
            margin-bottom:1.25rem;
          }
        }
      }
    }
    .newsletter {
      width: 100%;
      @include respond-to(md) {
        width: 19.25rem;
      }
      h3 {
        margin-bottom: 1.3rem;
      }
      .p1, .h5 {
        margin-bottom:1.5rem;
        @include respond-to(md) {
          margin-bottom:2rem;
        }
      }
      input[type=email] {
        width:7.3rem;
        @include respond-to(md) {
          width:10.3rem;
        }
        padding-left: .9rem;
        height:2.6rem;
        border-radius:0;
        border: 1px solid #000000;
        background-color: rgba(255,255,255,.5);
      }
      input[type=submit] {
        width:6rem;
        border-radius: 0 !important;
        @include respond-to(md) {
          width:7rem;
        }
        height:2.7rem;
        border: 1px solid transparent;
        letter-spacing: .15em !important;
        text-transform: uppercase !important;
      }
      form {
        max-width:18rem;
        margin:0 auto;
        @include respond-to(md) {
          max-width:unset;
          margin:unset;
        }
      }
    }
    .follow-mobile {
       width:8.5rem;
       margin: 2.5rem auto 1.15rem;
    }
  }
}