.global-cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  transition: visibility .7s ease-out;

  .section-2 {
    background-color: #fff;
  }

  .close {
    right:1.5rem;
    transition: .4s transform;
    cursor: pointer;
    &:hover{
      transform: rotate(180deg);
    }
  }

  &.active {
    pointer-events: all;
    visibility: visible;

    .global-cart__overlay {
      cursor: pointer;
      opacity: 1;
      visibility: visible;
      background-color: rgba(0,0,0,.7);
    }

    .global-cart__drawer {
      transform: translateX(0);
      h3 {
        margin-top:1rem;
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0rem;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .7s ease-out visibility .7s ease-out;
  }

  &__drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 2rem;
    
    @include respond-to(md) {
      max-width: 50vw;
    }

    @include respond-to(lg) {
      padding: 5rem 10rem 3.5rem;
      max-width: 41vw;
    }
    transform: translateX(110%);
    transition: transform .7s ease-out;

    &__header {
      padding: 6px 8px 6px 20px;

      .heading {
        flex-grow: 1;
      }
    }

    &__error-bar {
      height: 0;
      text-align: center;
      border-bottom: solid 0 $color--black--10;
      transition: height .7s ease-out;

      &.active {
        height: 61px;
        border-bottom: solid 1px $color--black--10;

        @media screen and (min-width: $break--tblt) {
          height: 91px;
        }
      }
    }

    &__item-list {
      position: relative;
      flex-grow: 1;
      margin: 0;
      // overflow-y: scroll;
      list-style: none;
      max-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
      max-height: calc((var(--vh, 1vh) * 100) - 11rem);
      //max-height: calc(100vh - 16rem);
      .item {
        position: relative;
        flex-shrink: 0;
        padding: 1rem;
        border-bottom: solid 1px $color--black--10;
        transition: opacity .7s ease-out;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          pointer-events: none;
          // background-color: $color--white--50;
          content: "";
          opacity: 0;
          visibility: hidden;
          transition: opacity .7s ease-out, visibility .7s ease-out;
        }    

        &.loading {
          &::after {
            pointer-events: all;
            opacity: 1;
            visibility: visible;
          }
        }

        &.hidden {
          opacity: 0;
        }

        &__image-wrap {
          position: relative;
          flex-shrink: 0;
          width: 25%;
          height: 4.5rem;
          margin-right: 3rem;

          @include respond-to(md) {
            width: 3.90rem;
            height: 3.90rem;
          }

          @include respond-to(lg) {
            width: 13.2rem;
            height: 13.2rem;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__info-wrap {
          width: 100%;

          .title {
            margin: 15px 0 5px;
          }

          .option {
            margin: 0 0 5px;
          }

          .bottom {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            margin-top: auto;

            .qty-adjust-wrap {
              display: flex;
              align-items: center;
              padding: 6px;
              border: solid 1px $color--black--20;

              .dec,
              .inc {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 18px;
                height: 18px;
                padding: 0;
                cursor: pointer;
                background: transparent;
                border: 0;

                svg {
                  width: 18px;
                  height: 18px;
                }
              }

              .qty {
                text-align: center;
              }
            }

            .price-wrap {
              .orig-price {
                text-decoration: line-through;
              }
            }
          }
        }
      }

      .empty-msg {
        padding: 20px;
        text-align: center;
        border-bottom: solid 1px $color--black--10;
        font-size: 1.8rem;

        @media screen and (min-width: $break--tblt) {
          padding: 35px 20px;
        }
      }
    }

    &__footer {
      position: relative;
      text-align: center;
      background-color: transparent;
      box-sizing: border-box;
      position: absolute;
      bottom:0;
      width: calc(100% - 4rem);
      padding-bottom: 2rem;

      @include respond-to(lg) {
        padding: .8rem 0 1.5rem;
        left: 10rem;
        right: 10rem;
        width: calc(100% - 20rem);
      }

      .shipping-msg {
        margin:1.1rem 0 .6rem;
      }

      .checkout-link {
        margin:0 auto;
      }

      .btn {
        width: 100%;
        margin: 3rem 0 0;
        max-width: 100%;
      }
    }
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h3 {
      font-size: 4rem;
      line-height: 1.1;
      font-family: $serif;
    }
  }
}

.wl-item-info {
  display: flex;
  flex-direction: column;
  width: 70%;
  // @include respond-to(md) {
  //   width: 15.625rem;
  // }
  @include respond-to(lg) {
    // width: 18rem;
    flex: 1;
  }
  .item-title {
    font-size: 1.6rem;
    margin-bottom: 1rem;

    @include respond-to(lg) {
      font-size: 2.6rem;
      line-height: 3.1rem;
    }
  }
  .item-price {
    font-size: 1.6rem;
    font-weight: 500;

    @include respond-to(lg) {
      font-size: 2.1rem;
      line-height: 2.5rem;
    }
  }
  .default-title {
    font-size: 0.9rem;
    line-height: 1.2rem;
    letter-spacing: 0.3rem;
    opacity: 0.57;
    text-transform: uppercase;
  }
  .bottom {
    margin-top: auto;
  }
  span {
    margin-right: 1rem;
  }
  .empty {
    right:1rem;
    bottom:1rem;
    cursor: pointer;
    line-height: 2rem;
    padding-bottom: 0.2rem;
    opacity: 0.5;
    font-size: 1.5rem;

    @include respond-to(lg) {
      font-size: 1.7rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
      opacity: 0.5;
    }
  }
  .qty {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .quantity {
    align-self: flex-start;
    margin-top: auto;
    // max-width: 5.5rem;
    margin-top: .5rem;
    font-size: 2rem;
    button {
      position: relative;
      display: inline-block;
      padding: 0;
      text-decoration: none;
      cursor: pointer;
      background-color: rgba(6,34,51,0);
      border: 0;
      border-radius: 0;
      -webkit-appearance: none;
      appearance: none;
      font-size: 2rem;
      vertical-align: middle;
      /* height: 25px; */
      width: 1.5rem;
    }
  }
}
.cart-counter {
  background: transparent;
   position: absolute;
    font-size: 0.6rem;
    display: block;
    position: absolute;
    top: .34rem;
    left: 0px;
    font-size: .5rem;
    letter-spacing: -0.2px;
    width: 100%;
}

.subtotal-wrapper {
  font-family: $serif;
  border-bottom: 1px solid #979797;
  font-size: 2rem;
  line-height: 1.2;

  @include respond-to(lg) {
    font-size: 4rem;
    line-height: 4.6rem;
  }

  .sans {
    font-family: $sans;
    font-weight: 500;

    @include respond-to(lg) {
      font-size: 4rem;
      line-height: 4.6rem;
    }
  }
}