.gluco {
  padding: 50px 0;
  
  @include respond-to(md) {
    padding: 5rem 0;
    padding-top: 0;
  }

  &__content {
    @include respond-to(md) {
      display: flex;
      margin: 0 auto;
    }

    @include respond-to(lg) {
      padding: 0 10.8vw;
    }
  }

  &__img-box {
    margin-bottom: 40px;

    @include respond-to(md) {
      flex-basis: 47%;
      position: relative;
      margin-bottom: 0;
    }

    @include respond-to(lg) {
      padding-right: 13rem;
    }
  }

  &__img-small {
    display: none;

    @include respond-to(md) {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      max-width: 10.4rem;
    }

    @include respond-to(lg) {
      max-width: 32.5rem;
    }
  }

  &__container {
    margin: 0 auto;
    padding: 0 20px;

    @include respond-to(xs) {
      max-width: 580px;
    }

    @include respond-to(md) {
      flex-basis: 47%;
      max-width: none;
      padding: 0;
      display: flex;
      align-items: center;
      margin-right: 0;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include respond-to(md) {
      max-width: 25rem;
      gap: 3rem;
    }

    @include respond-to(lg) {
      max-width: 40rem;
    }
  }

  &__number {
    font-family: $ff-serif;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;

    @include respond-to(md) {
      font-size: 1.6rem;
      line-height: 1rem;
      margin-bottom: 0.5rem;
    }

    @include respond-to(lg) {
      font-size: 2.8rem;
      line-height: 5rem;
    }
  }

  &__heading h5 {
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;

    @include respond-to(md) {
      line-height: 3.2rem;
      font-size: 1.6rem;
      margin-bottom: 2.2rem;
    }

    @include respond-to(lg) {
      font-size: 3.5rem;
      line-height: 1.5;
      margin-bottom: 4rem;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 22px;

    @include respond-to(md) {
      font-size: 1.2rem;
      line-height: 2.1rem;
    }

    @include respond-to(lg) {
      font-size: 1.9rem;
      line-height: 2.6rem;
    }
  }
}
