.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: white;
    font-size: 18px;
    padding: 1rem 0;
    border: none;
    transition: background .5s, color .5s;

    @include respond-to(md) {
        font-size: 1.8rem;
        padding: 2rem 0;
        // padding-top: 2.4rem;
    }

    @include respond-to(lg) {
        // padding-top: 2.4rem;
    }

    &--scrolled {
        background: white;
        color: black;
        // height: 10vw;
        @include respond-to(md) {
            font-size: 1.8rem;
            // padding-top: 2.4rem;
            height: unset;
        }


        .header {
            &__logo,
            &__cart-mob svg path {
                fill: black;
            }

            &__hamburger {
                &:before,
                &:after {
                    background-color: black;
                }
            }
        }
    }

    &--open {
        .header {
            &__menu {
                display: flex;
            }
                
            &__hamburger {
                &::before {
                    transform: rotate(45deg);
                    top: 0.7rem;
                }
                
                &::after {
                    top: 0.7rem;
                    transform: rotate(-45deg);
                }
            }
        }
        @include respond-to(lg) {
            color: black;

            .header {
                &__logo,
                &__cart-mob path  {
                    fill: black;
                }
    
                &__hamburger {
                    &:before,
                    &:after {
                        background-color: black;
                    }
                }
    
                &__menu {
                    &--center {
                        display: flex;
                    }
                }
            }
        }
    }

    &--dark, &--open {
        color: black;
        background-color: #fff;

        .header__logo,
        .header__cart-mob svg path {
            fill: black;
        }

        .header__hamburger {
            &:before,
            &:after {
                background-color: black;
            }
        }

        & + .header__spacer {
            display: block;
        }
    }

    &--always-dark {
        color: black;
        background-color: #fff;

        .header__logo,
        .header__cart-mob svg path {
            fill: black;
        }

        .header__hamburger {
            &:before,
            &:after {
                background-color: black;
            }
        }

        & + .header__spacer {
            display: block;
        }
    }

    &__spacer {
        display: none;
        height: 10px;

        @include respond-to(md) {
            height: 10rem;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 0 20px 24px;

        @include respond-to(md) {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        @include respond-to(lg) {
            padding: 0 20rem 0rem;
        }
    }

    &__logo {
        max-width: 78px;
        fill: white;
        transition: .5s;
        width: 100%;
        @include respond-to(md) {
            width: 100%;
            max-width: 9.1rem;
        }

        @include respond-to(lg) {
            max-width: 14.5rem;
        }
    }

    &__cart-mob path {
        fill: white;
    }

    &__menu {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        color: black;
        width: 100%;
        height: 100vh;
        list-style: none;
        align-items: center;
        font-family: $sans;
        // display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 32px;
        font-family: $serif;
        z-index: -1;
        display: flex;
        opacity: 0;
        text-transform: capitalize;

        @include respond-to(lg) {
            font-size: 3.2rem;
            opacity: 1!important;
            visibility: visible!important;
        }

        & > * + * {
            margin-top: 20px;

            @include respond-to(md) {
                margin-top: 2rem;
            }
        }

        @include respond-to(lg) {
            display: flex;
            flex-direction: row;
            color: inherit;
            position: static;
            background-color: transparent;
            height: auto;
            font-size: 1.8rem;
            width: auto;
            font-family: $sans;
            z-index: 1;
            text-transform: none;

            & > * + * {
                margin-left: 4rem;
                margin-top: 0;
            }
        }

        &--center {
            li:first-child {
                margin-top: auto;
            }

            li:last-child {
                margin-top: auto;
                margin-bottom: 2rem;

                @include respond-to(lg) {
                    display: none;
                    margin: 0;
                }
            }
        }

        &--sec {
            display: none;
            top: auto;
            bottom: 0;

            @include respond-to(lg) {
                display: flex;
            }
        }
    }

    &__menu-toggler {
        background-color: transparent;
        color: inherit;
        border: none;
        cursor: pointer;
    }

    &__cart-mob {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: flex-end;
        color: inherit;

        svg {
            width: 15px;
            height: 21px;

            @include respond-to(md) {
                width: 1.7rem;
                height: 2.3rem;
            }
        }

        & > span {
            display: block;
            margin-left: 5px;
            margin-top: 3px;
            font-size: 15px;

            @include respond-to(md) {
                margin-left: 0.5rem;
                margin-top: 0.3rem;
                font-size: 1.5rem;
            }
        }

        @include respond-to(lg) {
            display: none;
        }
    }

    &__hamburger {
        width: 26px;
        height: 20px;
        background-color: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
        position: relative;
        display: block;

        @include respond-to(md) {
            width: 4.5rem;
        }

        &:before,
        &:after {
            content: '';
            background-color: white;
            height: 0.1rem;
            width: 100%;
            position: absolute;
            left: 0;
            transform-origin: center;
            transition: 0.2s;

            @include respond-to(md) {
                height: 0.2rem;
            }
        }

        &::before {
            top: 5px;

            @include respond-to(md) {
                top: 0.4rem;
            }
        }

        &::after {
            top: 12px;

            @include respond-to(md) {
                top: 1.6rem;
            }
        }

        @include respond-to(lg) {
            display: none;
        }
    }
}