.like {
  padding: 5rem 0;

  &__heading {
    margin-bottom: 4rem;

    @include respond-to(lg) {
      margin-bottom: 6.6rem;
    }
  }

  &__heading h2 {
    font-size: 5rem;
    line-height: 5.9rem;

    @include respond-to(lg) {
      font-size: 8rem;
      line-height: 9.4rem;
    }
  }

  &__heading-small {
    line-height: 3.9rem;
    font-size: 2.4rem;

    @include respond-to(lg) {
      font-size: 5.2rem;
      line-height: 14.7rem;
    }
  }

  &__img-box {
    margin-bottom: 2rem;
    position: relative;

    &:hover .like__hover-info {
      opacity: 1;
    }
  }

  &__img img {
    @include respond-to(lg) {
      max-width: 36rem;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;

    @include respond-to(md) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: 2rem;
    }
  }

  &__card {
    width: 100%;

    @include respond-to(lg) {
      max-width: 36rem;
    }
  }

  &__desc-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__desc {
    display: flex;
    gap: 0.3rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;

    @include respond-to(md) {
      flex-direction: column;
      gap: 0.7rem;
      font-size: 1.8rem;
    }

    @include respond-to(lg) {
      font-size: 3rem;
      line-height: 3.6rem;
      gap: 1.6rem;
    }
  }

  &__text {
    @include respond-to(md) {
      font-size: 1rem;
      line-height: 1.8rem;
      color: rgba($color-black, 0.6);
      text-transform: lowercase;
      font-family: $ff-serif;
    }

    @include respond-to(lg) {
      font-size: 1.8rem;
      line-height: 2.1rem;
    }
  }

  &__price-bottom {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: rgba($color-dark-gray-2, 0.61);

    @include respond-to(md) {
      display: none;
    }
  }

  &__separator {
    @include respond-to(md) {
      display: none;
    }
  }

  &__hover-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99);
    background-color: rgba($color-black, $alpha: 0.6);
  }

  &__rating {
    position: absolute;
    top: 31%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    height: 4.6875vw;
    z-index: 2;
  }

  &__svg-star {
    width: 1.8rem;
    fill: $color-white;

    @include respond-to(lg) {
      width: 2.4rem;
    }
  }

  &__price {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 36.5%;
    width: 100%;
    font-weight: 300;
    height: 4.55729vw;
    line-height: 4.55729vw;
    font-size: 1.30208vw;
    letter-spacing: 0.39062vw;
    transition: transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
      opacity 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99);

    @include respond-to(lg) {
      font-size: 0.8vw;
      top: 30%;
    }

    @include respond-to(xlg) {
      font-size: 0.75vw;
      top: 32%;
    }
  }

  &__cart {
    position: absolute;
    left: 50%;
    bottom: 13.5%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1.5625vw;
    height: 4.55729vw;
    line-height: 4.55729vw;
    padding: 0 0.65104vw;
    font-weight: 400;
    letter-spacing: 0.15625vw;
    cursor: pointer;

    @include respond-to(lg) {
      font-size: 0.8vw;
      height: 3vw;
    }

    &::after {
      content: "";
      height: 1px;
      background: #fff;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      transition: transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99),
        -webkit-transform 0.5s cubic-bezier(0.16, 0.01, 0.13, 0.99);
    }
  }
}
