.menu-drawer {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(#000, 0.5);
    top: 0;
    left: 0;
    z-index: 101;
    pointer-events: none;
    transition: opacity 0.3s linear;
    opacity: 0;

    &__main {
        transform: translateX(-100%);
        transition: transform 0.6s ease;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 90%;
        padding: 2rem;
        font-size: 3rem;
        background-color: #fff;

        @include respond-to(md) {
            padding-left: 10rem;
            padding-top: 3rem;
            font-size: 6rem;
            width: 60rem;
            max-width: 100%;
        }
    }

    &__logo {
        width: 14rem;
        display: block;
        margin-bottom: 8rem;

        svg {
            max-width: 100%;
        }
    }

    &__list {
        font-family: $serif;
        color: #5A5858;

        & > * + * {
            margin-top: 3rem;
            
            @include respond-to(md) {
                margin-top: 4rem;
            }
        }
    }

    &--open {
        pointer-events: all;
        opacity: 1;

        .menu-drawer__main{
            transform: translate(0%);   
        }
    }
}