// PARALLAX
.parallax-element {
    transform: scale(1.075);
    picture {
        display:block;
    }
}
.parallax-wrapper {
    overflow: hidden;
}


// IN VIEWPORT ANIMATIONS
$delays: 1, 2, 3, 4, 5;

.should-animate {
    opacity: 0;
    will-change: opacity, transform;

    // TRANSITION DELAYS FOR STAGGERS
    @each $delay in $delays {
      &.dl-#{$delay} {
        transition-delay: ($delay / 2) * .1s!important;
      }
    }

    &.is-inview{ 
        transition: opacity 0.7s ease, transform 0.7s ease;
        transform: translate3d(0, 0 ,0) scale(1) !important;
        opacity: 1 !important;
            
    }

    &.from-y {
        transform: translate3d(0, 40px, 0);
    }
}

// TRANSITIONS
.transitioning {
    pointer-events: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

// Should go to some general scss file
main {
    overflow: hidden;
}