.product-wrap {

    .fp-swiper-button-next, .fp-swiper-button-prev {
        top:42%;
    }
    .fp-swiper-button-next {
        right:1rem !important;
    }
    .fp-swiper-button-prev {
        left:1rem !important;
    }
    padding: 0 1rem;
    @include respond-to(md) {
        padding: 0;
    }
    .product-headline {
        padding:2rem 0;
        @include respond-to(md) {
            padding: 3rem 0 5rem;
        }
    }
    .product-template-holder {
          @include respond-to(md) {
              padding: 0 6rem 5rem 6rem;
          }
          .placeholder {
            width: 100%;
            img {
                width:100%;
            }
            @include respond-to(md) {
                width:23.43rem;
            }
            @include respond-to(lg) {
            width:27rem;
            }
          }
          .pdp {
            width: 100vw;
            @include respond-to(md) {
                width:23.43rem;
            }
            @include respond-to(lg) {
                width:27rem;
            }
          }
          .product-title {
              margin-top:2rem;
              font-weight: bold;
              @include respond-to(md) {
                margin-top:0;
            }
          }
          .product-price {
              margin: .75rem 0 1.25rem;
              span {
                font-size:.9rem !important;
                @include respond-to(md) {
                    font-size:1.05rem !important;
                }
              }
          }
          .cta {
             display: flex;
             justify-content: center;
             align-items: center;
             margin-top:1rem;
             font-size: 2rem;
             line-height: 2.44rem;
             width: 100%;
          }
          .product-description {
              margin-bottom:0rem;
              @include respond-to(md) {
                margin-bottom:0;
            }
          }
    }

}
.product-app__option select{
    padding:0 .75rem;
    width:87.5vw;
    @include respond-to(md) {
        width: 14.45rem;
    }
    height: 2rem;
    border: 2px solid black;
    font-size: .8rem;
    text-transform: uppercase;
    -webkit-appearance: none;
     -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-radius:0;
    &:focus-visible {
        outline: none;
    }
}

.swiper-container {
    margin:0 auto !important;
}
.gallery-thumbs .swiper-slide {
    opacity:1 !important;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity:.5 !important;
}
.select-holder  {
    width:87.5vw;
    margin-bottom: 1.25rem;
    @include respond-to(md) {
        width: 19.45rem;
    }
    .select-arrow {
        top:1.5rem;
        right:1rem;
        @include respond-to(md) {
            top:.3rem;
            right:1rem;
        }
    }
}