.product {
  padding: 5rem 0;

  &__top-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.1rem;

    @include respond-to(lg) {
      margin-bottom: 2.5rem;
    }
  }

  &__breadcrumb-box {
    flex-basis: 39%;
  }

  &__breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.6rem;
  }

  &__link {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.41rem;
    text-transform: uppercase;
    color: rgba($color-black, $alpha: 0.4);

    @include respond-to(lg) {
      font-size: 1.2rem;
      letter-spacing: 0.49rem;
    }

    &::after {
      content: "/";
    }
  }

  &__link-active {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.35rem;
    text-transform: uppercase;
    color: $color-black;

    @include respond-to(lg) {
      font-size: 1.2rem;
      letter-spacing: 0.49rem;
    }
  }

  &__top-buttons {
    @include respond-to(lg) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 4rem;
    }
    @include respond-to(xlg) {
      margin-bottom: 6rem;
    }
  }

  &__btn {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.45rem;
    text-transform: uppercase;
    color: $color-black;

    @include respond-to(lg) {
      font-size: 1.6rem;
      letter-spacing: 0.65rem;
    }
  }

  &__separator {
    vertical-align: middle;
    margin: 0 0.3rem;

    @include respond-to(lg) {
      margin: 0 1rem;
    }

    @include respond-to(xlg) {
      margin: 0 1rem 0.2rem 1rem;
    }
  }

  &__content {
    @include respond-to(sm) {
      display: flex;
    }

    @include respond-to(xlg) {
      gap: 8.3rem;
    }
  }

  &__img-box {
    margin-bottom: 1.7rem;

    @include respond-to(sm) {
      flex-basis: 45%;
    }
  }

  &__right-box {
    margin: 0 auto;
    padding: 0 1.9rem;

    @include respond-to(xs) {
      max-width: 58rem;
    }

    @include respond-to(sm) {
      flex-basis: 55%;
    }

    @include respond-to(md) {
      max-width: none;
      padding: 0 10.8vw;
    }

    @include respond-to(xlg) {
      padding: 0 10.8vw 0 0;
    }
  }

  &__heading-wrap {
    display: flex;
    justify-content: space-between;
    gap: 0.7rem;
    margin-bottom: 0.7rem;

    @include respond-to(lg) {
      margin-bottom: 1.2rem;
    }

    @include respond-to(xlg) {
      margin-bottom: 1.8rem;
    }
  }

  &__heading h1 {
    color: $color-black;
    font-family: $ff-sans;
    font-size: 2.7rem;

    @include respond-to(lg) {
      font-size: 3.5rem;
    }

    @include respond-to(xlg) {
      font-size: 7rem;
    }
  }

  &__price {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  &__price-big {
    font-size: 1.7rem;
    letter-spacing: 0.85px;
    line-height: 2.5rem;

    @include respond-to(lg) {
      font-size: 2.3rem;
      letter-spacing: 0.14rem;
    }

    @include respond-to(xlg) {
      font-size: 2.9rem;
    }
  }

  &__price-small {
    font-size: 1.4rem;
    letter-spacing: 0.75px;
    line-height: 2.5rem;
    color: $color-dark-gray;

    @include respond-to(lg) {
      font-size: 1.7rem;
      letter-spacing: 0.11rem;
    }

    @include respond-to(xlg) {
      font-size: 2.3rem;
    }
  }

  &__subtitle {
    font-size: 1rem;
    letter-spacing: 0.746429px;
    line-height: 1.2rem;
    text-transform: uppercase;
    color: rgba($color-black, $alpha: 0.58);
    margin-bottom: 1.4rem;

    @include respond-to(lg) {
      font-size: 1.4rem;
      letter-spacing: 1.05rem;
      margin-bottom: 5.7rem;
    }
  }

  &__desc {
    font-size: 0.9rem;
    line-height: 1.4rem;
    letter-spacing: 3.69643px;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @include respond-to(lg) {
      font-size: 1.2rem;
      letter-spacing: 0.5rem;
      margin-bottom: 5.5rem;
    }
  }

  &__flex {
    @include respond-to(sm) {
      display: flex;
      flex-direction: column-reverse;
      gap: 3rem;
    }

    @include respond-to(lg) {
      gap: 5.2rem;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 4rem;

    @include respond-to(sm) {
      flex-direction: row;
    }

    @include respond-to(xlg) {
      gap: 1.7rem;
    }
  }

  &__btn-box {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    @include respond-to(sm) {
      flex-basis: 35%;
    }

    @include respond-to(lg) {
      max-width: 23.1rem;
    }
  }

  &__qty {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    background-color: $color-light-2;
    min-height: 5.9rem;

    @include respond-to(sm) {
      display: none;
    }
  }

  &__count {
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    font-size: 2.1rem;
    line-height: 2.6rem;
    background-color: $color-light-2;
    min-height: 5.9rem;

    @include respond-to(sm) {
      flex-basis: 100%;
    }

    @include respond-to(lg) {
      max-width: 23.1rem;
    }
  }

  &__minus {
    border: none;
    background-color: transparent;
    font-size: 2.1rem;

    @include respond-to(md) {
      font-size: 2.5rem;
    }
  }

  &__plus {
    border: none;
    background-color: transparent;
    margin-top: 0.5rem;
    font-size: 2.1rem;

    @include respond-to(md) {
      font-size: 2.5rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $color-dark;

    @include respond-to(sm) {
      font-size: 1rem;
    }

    @include respond-to(md) {
      font-size: 1.3rem;
    }

    @include respond-to(lg) {
      font-size: 1.9rem;
      line-height: 2.6rem;
    }

    @include respond-to(xlg) {
      max-width: 55.9rem;
    }
  }

  &__badges {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    max-width: 23.1rem;

    @include respond-to(xlg) {
      margin-top: 3.6rem;
    }
  }

  &__badge {
    max-width: 2.7rem;
  }
}
