.series {
  padding: 30px 0;

  @include respond-to(md) {
    padding: 5rem 0;
  }

  @include respond-to(lg) {
    padding: 7rem 0;
  }

  h2 {
    font-size: 10vw;
    margin-bottom: 0;

    @include respond-to(md) {
      font-size: 3.2rem;
    }

    @include respond-to(lg) {
      font-size: 4.8rem;
    }
  }
  
  &.pt0 {
    padding-top: 50px;

    @include respond-to(md) {
      padding-top: 5rem;
    }

    @include respond-to(lg) {
      padding-top: 0;
    }
  }
  
  &.pb0 {
    padding-bottom: 50px;

    @include respond-to(md) {
      padding-bottom: 5rem;
    }

    @include respond-to(lg) {
      padding-bottom: 0;
    }
  }

  &__container {
    @include respond-to(md) {
      display: flex;
      align-items: flex-end;
      gap: 4rem;
    }

    @include respond-to(lg) {
      align-items: center;
    }
  }

  &__wrap {
    h2 {
      @include respond-to(lg) {
        max-width: 40rem;
      }
    }

    h6 {
      font-size: 16px;
      line-height: 24px;
      font-family: $serif;

      @include respond-to(md) {
        font-size: 2.6rem;
        line-height: 1.2;
      }
    }

    @include respond-to(md) {
      flex-basis: 1;
    }
  }

  &__img-content {
    @include respond-to(md) {
      flex-basis: 58.33333%;
      flex-shrink: 0;
    }
  }

  &__img-box {
    margin-bottom: 40px;

    @include respond-to(md) {
      margin-bottom: 0;
    }
  }

  &__text {
    color: rgba($color-black, 0.7);
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 22px;

    @include respond-to(md) {
      font-size: 1.6rem;
      margin-bottom: 4rem;
      line-height: 1.8;
    }

    @include respond-to(lg) {
      font-size: 1.9rem;
      line-height: 2.6rem;
      padding-right: 17.5rem;
    }
  }

  img {
    max-width: 100%;
  }
}
