.staples {
    padding: 36px 0;

    @include respond-to(md) {
        padding: 5rem 0;
    }

    @include respond-to(lg) {
      padding: 11.8rem 0 0;
    }

    &__container {
      overflow: hidden;

      @include respond-to(md) {
        margin-bottom: 3rem;
      }

      @include respond-to(lg) {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
      }
    }
  
    &__wrap {
      @include respond-to(md) {
        margin-bottom: 10rem;
      }

      @include respond-to(lg) {
        max-width: 28%;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }

    &__title {
      font-size: 10vw;
      
      @include respond-to(md) {
        font-size: 4rem;
      }

      @include respond-to(lg) {
        font-size: 4.8rem;
      }
    }
  
    &__slider-content {
      position: relative;
      width: 370px;
  
      @include respond-to(xs) {
        width: 90%;
      }
  
      @include respond-to(lg) {
        max-width: 66%;
      }
    }
  
    &__slider {
      margin-bottom: 35px;
      
      @include respond-to(md) {
        margin-bottom: 3.5rem;
      }
    }

    &__slide {
      display: block;
      margin-top: 30px;
      
      &--last {
        @include respond-to(lg) {
          display: none;
        }
      }
    }
  
    &__img {
      margin-bottom: 20px;
      
      @include respond-to(md) {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
      }

      img {
        height: 80vw;
        width: 80vw;
        object-fit: contain;
        
        @include respond-to(md) {
          height: 40vw;
          width: 40vw;
        }
    
        @include respond-to(lg) { 
          height: 24vw;
          width: 24vw;
        }
      }
    }
  
    &__desc {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      text-align: center;

      @include respond-to(md) {
        gap: 1rem;
        align-items: center;
      }

      h5 {
        font-size: 25px;
        font-family: $serif;

        @include respond-to(md) {
          font-family: $sans;
          font-size: 2.5rem;
        }
        
        @include respond-to(lg) {
          font-size: 3rem;
        }
      }
    }
  
    &__desc-text {
      color: rgba($color-black, 0.6);
      font-family: $serif;
      font-size: 16px;
      text-align: left;
  
      @include respond-to(md) {
        text-align: inherit;
        font-size: 1.4rem;
      }
  
      @include respond-to(lg) {
        font-size: 1.8rem;
      }
    }
  
    &__subtitle {
      font-family: $serif;
      color: $color-grey;
      letter-spacing: 0.3px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
  
      @include respond-to(md) {
        font-size: 2.6rem;
        line-height: 1.4;
        margin-bottom: 2.5rem;
        margin-top: 4rem;
      }
  
      @include respond-to(lg) {
        font-size: 2.6rem;
        margin-top: 0;
      }
    }
  
    &__text {
      line-height: 22px;
      margin-bottom: 40px;
      font-size: 14px;
      color: rgba($color-black, 0.7);

      @include respond-to(md) {
        font-size: 1.6rem;
        line-height: 1.4;
        max-width: 60%;
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
  
      @include respond-to(lg) {
        font-size: 1.9rem;
        line-height: 2.6rem;
        max-width: 37.8rem;
      }
    }
  
    &__arrow-next {
      position: absolute;
      top: 50%;
      right: 100px;
      width: 30px;
      height: 30px;
      transform: scale(0.95) rotate(180deg) translate(-50%, 50%);
      cursor: pointer;
      
      @include respond-to(md) {
        display: block !important;
        right: -5%;
        width: 4rem;
        height: 3rem;
      }
    }
    
    &__arrow-prev {
      display: none !important;
      position: absolute;
      top: 50%;
      left: 0;
      width: 30px;
      height: 30px;
      transform: scale(0.95) translate(-50%, -50%);
      cursor: pointer;
      
      @include respond-to(md) {
        display: block !important;
        left: -4%;
        width: 3rem;
        height: 3rem;
      }
    }

    &__am-pm {
      font-family: $serif;
      font-size: 18px;
      opacity: 0.6;
      line-height: 1;
      display: flex;
      align-items: center;

      @include respond-to(md) {
        font-size: 1.8rem;
      }

      & > * + * {
        margin-left: 10px;
        margin-bottom: 3px;

        @include respond-to(md) {
          margin-left: 1rem;
          margin-bottom: 0.3rem;
        }
      }
    }

    .container-left {
      padding-right: 0;
      // padding-left: 0;

      .staples__text,
      .btn {
        margin-right: 20px;
        // margin-left: 20px;

        @include respond-to(md) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
  