.tabs-bar {
    display: none;

    @include respond-to(lg) { 
        align-items: center;
        justify-content: center;
        background-color: #f7f7f7;
        list-style: none;
        height: 4.79167vw;
        width: 100%;
        padding: 0 10.67708vw;
        gap: 11rem;

        &--show {
            display: flex;
        }
    }

    &__button {
        background-color: transparent;
        padding: 0;
        border: none;
        font-size: 2.4rem;
        text-transform: uppercase;
        font-family: $ff-serif;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 1px;
            width: 100%;
            left: 0;
            bottom: -3px;
            background: silver;
            transition: transform .35s cubic-bezier(.16,.01,.13,.99),-webkit-transform .35s cubic-bezier(.16,.01,.13,.99);
            transform: scaleX(0);
        }

        &--active {
            color: silver;
            text-shadow: 0 0 .5px silver;

            &::after {
                transform: scaleX(1);
            }
        }
    }
}