.types {
  padding: 5rem 0;

  &__subtitle {
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: center;
    letter-spacing: 0.67rem;
    margin-bottom: 4rem;

    @include respond-to(xlg) {
      font-size: 1.4rem;
      margin-bottom: 8.7rem;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.8rem;

    @include respond-to(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 1.5rem;
    }
  }

  &__card {
    @include respond-to(sm) {
      display: flex;
      gap: 1rem;
    }
  }

  &__img-box {
    display: none;

    @include respond-to(sm) {
      display: flex;
    }
  }

  &__span {
    font-size: 2.8rem;
    font-family: $ff-serif;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    @include respond-to(sm) {
      align-self: center;
    }

    @include respond-to(lg) {
      font-size: 5rem;
    }

    @include respond-to(xlg) {
      font-size: 6.8rem;
    }

    &:hover {
      color: $color-silver;
      cursor: pointer;
    }
  }

  &__active {
    color: $color-silver;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $color-silver;
    }
  }
}
