<div class="staples__slider-content pe-md-5">
    <div class="swiper overflow-hidden">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                {% render 'slider-images' 
                    overrideImg:block.settings.override-img
                    featuredImage: block.settings.product.featured_image
                    overrideName: block.settings.override-name
                    productTitle: block.settings.product.title
                    productDesc:block.settings.product-desc
                    amChek: check
                    ampm: block.settings.am-pm
                    url: block.settings.product.url
                %}
            {% endfor %}
        </div>
    </div>

    {% render 'staples-next' %}
    {% render 'staples-prev' %}
</div>