<div class="staples__slider-content">
    <div class="staples__slider">
        {% for block in section.blocks %}
        {% render 'slider-images' 
            overrideImg:block.settings.override-img
            featuredImage: block.settings.product.featured_image
            overrideName: block.settings.override-name
            productTitle: block.settings.product.title
            productDesc:block.settings.product-desc
            amChek: check
            ampm: block.settings.am-pm
        %}
        {% endfor %}
    </div>
    {% render 'staples-next' %}
    {% render 'staples-prev' %}
</div>