<section class="fit">
  <div class="container">
    <div class="fit__wrap">
      <div class="fit__title">
        <h2>{{ section.settings.title }}</h2>
      </div>
      <div class="fit__text-box">
        <div class="fit__text mb-1-to-sm">
          {{ section.settings.content }}
          <p>
            U-Series is suitable for all skin types. Formulated with DENKA PURE
            HYALURONIC ACID, D.P.H.A.™ and natural moisturizing factors to
            increase the skin’s hydration levels. U-Series products are
            mildly-acidic in formula to balance pH levels and maintain the
            skin’s natural barrier.
            To simplify the routine each product is marked with a number. For
            your #uruoiskin, we have curated the top three items we think is the
            best fit for each skin type. You can always simply follow the
            sequence for a full regimen, too!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "CenteredText",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Find Your Fit"
    },
    {
      "id": "content",
      "type": "richtext",
      "label": "Content"
    }
  ]
}
{% endschema %}