<section class="authentic">
    <div class="authentic__wrap">
        <div class="authentic__img-box">
            <picture class="authentic__img">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/about/ingred-1.jpg">
                <img src="http://127.0.0.1:5500/img/about/ingred-1.jpg" alt="Uruoi Home Background Image">
            </picture>
        </div>
        <div class="authentic__container">
            <div class="authentic__text-box">
                <h2>
                    Uruoi is inspired by the authentic Japanese philosophy
                </h2>
                <div class="authentic__text-wrap">
                    <div class="authentic__text">
                        <p>
                            to keep only what is essential to bring balance to your skin and life. With a minimal
                            regimen of only the skin essentials, our products are focused on using the simplest
                            ingredients for the utmost efficacy.
                        </p>
                    </div>
                    <div class="authentic__text">
                        <p>
                            All uruoi products are also free of synthetic fragrances, colors, sulfates, and phthalates.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>