<section class="contact">
    <h2 class="contact__title">Contact Us</h2>
    <div class="contact__main-img-wrapper">
        <img src="https://uruoiskincare.com/img/contacts/contacts-1.jpg" alt="" class="contact__main-img">
    </div>
    <h3 class="contact__small-title">Our Mailing Address</h3>
    <address class="contact__address">
        Denka Corporation (uruoi) <br>
        780 3rd Ave FL 8 <br>
        New York, NY 10017 
    </address>
    <div class="contact__cols">
        <div class="contact__col">
            <h4>Customers</h4>
            <p> For recommendations, comments, or inquiry, feel free to contact us and we will get back to you as soon as we can. </p>
            <a href="mailto:hello@uruoiskincare.com ">hello@uruoiskincare.com </a>
        </div>
        <div class="contact__col">
            <h4>Influencers</h4>
            <p> So excited! Email us with your media kit, handles, website, or any other information you would like to share with us. We will be sure to respond as soon as we can! </p>
            <a href="mailto:info@uruoiskincare.com ">info@uruoiskincare.com </a>
        </div>
        <div class="contact__col">
            <h4>Press</h4>
            <p> Please email us and have your subject be “Press”.</p>
            <a href="mailto:info@uruoiskincare.com ">info@uruoiskincare.com </a>
        </div>
    </div>
    <div class="contact__bottom-images">
        <div class="contact__bottom-image-wrapper">
            <img src="https://uruoiskincare.com/img/contacts/contacts-2.jpg" alt="">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 164.39 46.7"><title>URUOI Logo</title> <g><g><path d="M25.11,32A10.39,10.39,0,1,1,4.33,32V9.81H0V32a14.72,14.72,0,1,0,29.43,0V9.81H25.11Z"></path> <path d="M99.59,32A10.4,10.4,0,1,1,78.8,32V9.81H74.47V32a14.73,14.73,0,0,0,29.45,0V9.81H99.59Z"></path> <path d="M132.6,8.84A15.2,15.2,0,0,0,117.41,24v7.48a15.18,15.18,0,1,0,30.36,0V24A15.2,15.2,0,0,0,132.6,8.84Zm10.86,22.68a10.86,10.86,0,0,1-21.72,0V24a10.86,10.86,0,1,1,21.72,0Z"></path> <rect x="160.07" y="9.83" width="4.33" height="36.38"></rect> <path d="M50.4,14.85v-5H46.07v36.4H50.4V26.33A13.18,13.18,0,0,1,63.56,13.17V8.84A17.45,17.45,0,0,0,50.4,14.85Z"></path> <rect x="160.07" width="4.33" height="4.33"></rect></g></g></svg>
            </span>
        </div>
        <img src="https://uruoiskincare.com/img/contacts/contacts-3.jpg" alt="">
    </div>
</section>