<section class="ingredient">
    <div class="ingredient__wrap">
        <div class="ingredient__left-content">
            <div class="ingredient__img-box">
                <picture class="ingredient__img">
                    <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/about/ingred-2-mob.jpg">
                    <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/about/ingred-2-tablet.jpg">
                    <img src="http://127.0.0.1:5500/img/about/ingred-2.jpg" alt="Uruoi Home Background Image">
                </picture>
            </div>
            <div class="ingredient__heading-box">
                <div class="ingredient__heading">
                    <h3>
                        <span class="ingredient__heading-big">D.P.H.A.<sup class="ingredient__sup">TM &trade; </sup></span>
                        <span class="ingredient__heading-small">Denka Pure Hyaluronic Acid</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="ingredient__right-content">
            <div class="ingredient__text">
                <p>
                    High-quality and high-purity macro molecule sodium hyaluronate processed with our own patented
                    technology.
                    Since its proprietary, uruoi is formulated with generous amount of hyaluronic acid to make your skin
                    truly hydrated.
                </p>
            </div>
            <div class="ingredient__img-box-small">
                <picture class="ingredient__img-small">
                    <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/about/ingred-3-mob.jpg">
                    <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/about/ingred-3-tablet.jpg">
                    <img src="http://127.0.0.1:5500/img/about/ingred-3.jpg" alt="Uruoi Home Background Image">
                </picture>
            </div>
        </div>
    </div>
</section>