<section class="def-page">
    <div class="container-fluid">
        <div class="def-page__container">
            <aside class="def-page__aside">
                <ul class="def-page__list">
                    <li class="def-page__list-item active">
                        Terms and conditions for Use for THE URUOI Website
                    </li>
                    <li class="def-page__list-item">
                        Orders and Payment
                    </li>
                    <li class="def-page__list-item">
                        Your Rights and Responsibilities for Use of the Site &amp; Products
                    </li>
                    <li class="def-page__list-item">
                        Uruoi’s Rights and Responsibilities
                    </li>
                    <li class="def-page__list-item">
                        Release, Indemnification and Disclaimers
                    </li>
                    <li class="def-page__list-item">
                        Dispute Resolution
                    </li>
                    <li class="def-page__list-item">
                        Miscellaneous Terms
                    </li>
                    <li class="def-page__list-item">
                        Web Accessibility Statement
                    </li>
                </ul>
            </aside>
            <div class="def-page__content">
                <h3>Age Restrictions and the Children’s Online Privacy Protection Act</h3>
                
                <p>1.1  This Site is intended for use by individuals over the age of 18 years. If you are under 18 years of age, an appropriate legal guardian must act on your behalf for you to use this Site.</p>
                <p>1.2  This Site is not directed at individuals under the age of 18 and does not knowingly collect personal information from individuals under the age of 18. CHILDREN UNDER THE AGE OF 13 ARE NOT PERMITTED TO USE THIS SITE.  We strongly recommend that children between the ages of 13 and 18 ask for their parent’s or guardian’s permission before viewing our Site.  Should you, as a parent or legal guardian of a minor, become aware that a user who is under the age of 18 has provided Denka with personally identifiable information, as defined in our Privacy Policy, please click <a href="/privacy-policy">here</a> to learn how to have such account, and the information associated with it, removed.</p>
                <h3>Restrictions on Use</h3>
                <p>5.1     You agree and represent you will not use the Site to:</p>
                <p>5.1.1    impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with any person or entity, imply that you are a medical professional or health care provider, or create a false identity for purposes of misleading others; </p>
                <p>5.1.2    upload, e-mail or otherwise transmit any content that is unlawful, harmful, threatening, abusive, harassing, false, misleading, tortious, defamatory, vulgar, obscene, libelous, invasive of another’s privacy, hateful, or racially, ethnically or otherwise objectionable;</p>
                <p>5.1.3    upload, e-mail or otherwise transmit any content that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party;</p>
                <p>5.1.4    upload, e-mail or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software, network, hardware or telecommunications equipment;</p>
                <p>5.1.5    engage in sending “spam” or any other form of solicitation;</p>
                <p>5.1.5    engage in sending “spam” or any other form of solicitation;</p>
                <p>5.1.7    violate any applicable local, state, national or international law</p>
                <p>5.1.8    provide material support or resources (or to conceal or disguise the nature, location, source, or ownership of material support or resources) to any organization(s) designated by the United States government as a foreign terrorist organization pursuant to section 219 of the Immigration and Nationality Act; or</p>
                <p>5.1.9    purchase for resale, or resell, any Products available in our online store, without our prior written approval.</p>
                <p>5.2     You agree that you will not use any robot, spider, other automatic device, or manual process to monitor or copy our Site pages or the content contained herein without our prior express written permission.  You agree that you will not use any device, software or routine to bypass any code which may be included to prevent you from breaching the obligations in this paragraph or to interfere or attempt to interfere with the proper working of the Site.  You agree that you will not take any action that imposes an unreasonable or disproportionately large load on our or our host’s infrastructure.</p>
                <p>5.3     You may not engage in the practices of “screen scraping,” “database scraping,” or any other practice or activity the purpose of which is to obtain lists of users, portions of a database, or other lists or information from this site, in any manner or in any quantities not authorized by Denka.  You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Denka or its affiliates without prior express written consent.  You may not use metatags or any other “hidden text” utilizing Denka’s name or trademarks without the express written consent of Denka.  Systematic retrieval of data from this Site to create or compile directly or indirectly, in whole or in part, a collection, compilation, database or directory without the express written permission of Denka is strictly prohibited.</p>
                <h3>Descriptions of Site, Products and Services</h3>
                <p>6.1         You are responsible for providing, at your own expense, all equipment necessary to use the Services, including a computer, modem, and Internet access (including payment of all fees associated with such access). </p>
                <p>6.2         We reserve the sole right to either modify or discontinue the Site, including any of the Sites features, at any time with or without notice to you.  We will not be liable to you or any third party should we exercise such right.  Any new features that augment or enhance the then-current Services on this Site shall also be subject to these Terms of Service.</p>
                <p>6.3          You acknowledge and agree that all of our Products or Services available through the Site shall be subject to our Return Policy.</p>
                <p>6.4          Although this Site may be accessible worldwide, we make no representation that materials on this Site are appropriate or available for use in locations outside the United States, and accessing them from territories where their contents are illegal is prohibited.  Those who choose to access this Site from other locations do so on their own initiative and are responsible for compliance with local laws.  Any offer for any Products, Services, and/or information made in connection with this Site is void where prohibited.</p>
                <h3>Information You Provide, Account Registration</h3>
                <p>7.1          You may register for an account on the Site (the “Account”) or log in by connecting with a third party provider (such as Facebook, Twitter, Google +).  To use some of the Services on this Site, you are not required to sign up for an Account.  However, certain features of the Services, such as accessing your order history, require you to register for an Account.  </p>
                <p>7.2          By registering, you agree that all information provided in the Account is true and accurate and that you will maintain and update the information as required in order to keep the Account current, complete and accurate.  You shall not: (i) select or use as a username a name of another person with the intent to impersonate that person; (ii) use as a username a name subject to any rights of a person other than you without appropriate authorization; or (iii) use, as a username, a name that is otherwise offensive, vulgar or obscene.  You are responsible for maintaining the confidentiality of your username and password. We encourage you to use “strong” passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your Account. </p>
                <p>7.3     You may never share your Account details with anybody else.  You alone are responsible for any activities that occur under your Account, including activities of others to whom you have provided your username or password. In addition, you shall not use your Account to breach security of another Account or attempt to gain unauthorized access to another network or server.  You are responsible for notifying Denka immediately of any unauthorized use of your Account or any other breach of security of which you become aware.  We will not be liable for any losses caused by any unauthorized use of your Account.  You shall have the ability to delete your Account, as described in our Privacy Policy.</p>
                <p>7.4     You agree that we may at any time, and at our sole discretion, terminate or suspend your Account without prior notice to you for any reason.  Without limiting the foregoing, we reserve the right to fully cooperate with any law enforcement authorities or court order requesting or directing us to disclose the identity or other information of any Account or anyone posting any materials on or through the Site.  YOU WAIVE AND HOLD HARMLESS US FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY US DURING OR AS A RESULT OF ITS INVESTIGATIONS AND FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY EITHER US OR LAW ENFORCEMENT AUTHORITIES.</p>
                <h3>User Submissions of Image, Video, Audio Files </h3>
                <p>8.1     The Site includes the “Uruoi Social Page”, located at a third party provider (such as Facebook, Twitter, Pinterest, and Instagram), which pulls content from our users who share any communications or content of any type (such as photos, videos, or audio) using our brand hashtags, including, without limitation, #uruoi, #uruoilife, or #uruoiskin, (collectively, the “Uruoi Hashtags”) or tagging the @uruoiskincare account (collectively, the “User Content”).  You acknowledge and agree that the User Content may be used in our showroom space, retail locations, e-mails or any other locations Denka owns or operates.</p>
                <p>8.2         You agree not to upload or transmit any User Content that infringes or violates any rights of any party.  You represent that any such User Content has been taken or recorded by you or that you have all rights to transmit and license and which do not violate trademark, copyright, privacy or any other rights of any other person. </p>
                <p>8.3     You agree that any Personally Identifiable Information [<a href="/privacy-policy">Privacy Policy</a>] (such as name, phone number, or e-mail address) contained in User Content that you submit belongs only to you or your dependents or members of your immediate family and not to anyone else.  Uploading User Content like images or video of other people without their permission is strictly prohibited.  By uploading and e-mailing any User Content on the Site, you warrant that you have permission from all persons appearing in your User Content for you to make this contribution and grant rights described herein.</p>
                <p>8.4     It is strictly prohibited to upload or e-mail User Content of any kind that contain expressions of hate, abuse, offensive images or conduct, obscenity, pornography, sexually explicit or any material that could give rise to any civil or criminal liability under applicable law or regulations or that otherwise may be in conflict with these Terms of Service and the Uruoi Privacy Policy.</p>
                <p>8.5     By uploading any User Content, you grant to Denka a perpetual, non-exclusive, worldwide, royalty-free license to use, copy, print, display, reproduce, modify, publish, post, transmit and distribute the User Content as follows: (i) for purposes of providing the Site, Products, and Services; (ii) as permitted or required by law; and (iii) in accordance with our Privacy Policy, and incorporated by reference into these Terms of Services.  You agree to indemnify Denka and its affiliates, directors, officers and employees and hold them harmless from any and all claims and expenses, including attorneys’ fees, arising from the User Content or your failure to comply with the terms described in this Agreement.</p></div>
        </div>
    </div>
</section>