<section class="def-page">
    <div class="container-fluid">
        <div class="def-page__container">
            <aside class="def-page__aside">
                <ul class="def-page__list">
                    <li class="def-page__list-item active">
                        Terms and conditions for Use for THE URUOI Website
                    </li>
                    <li class="def-page__list-item">
                        Orders and Payment
                    </li>
                    <li class="def-page__list-item">
                        Your Rights and Responsibilities for Use of the Site &amp; Products
                    </li>
                    <li class="def-page__list-item">
                        Uruoi’s Rights and Responsibilities
                    </li>
                    <li class="def-page__list-item">
                        Release, Indemnification and Disclaimers
                    </li>
                    <li class="def-page__list-item">
                        Dispute Resolution
                    </li>
                    <li class="def-page__list-item">
                        Miscellaneous Terms
                    </li>
                    <li class="def-page__list-item">
                        Web Accessibility Statement
                    </li>
                </ul>
            </aside>
            <div class="def-page__content def-page__content--faq">
                <h2>General</h2>
                <ul class="faq-accordion">
                    <li class="faq-accordion__item faq-accordion__item--active">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                </ul>
                <h2>Products</h2>
                <ul class="faq-accordion">
                    <li class="faq-accordion__item faq-accordion__item--active">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                </ul>
                <h2>Regimen</h2>
                <ul class="faq-accordion">
                    <li class="faq-accordion__item faq-accordion__item--active">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                </ul>
                <h2>Payment and Shipping</h2>
                <ul class="faq-accordion">
                    <li class="faq-accordion__item faq-accordion__item--active">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                </ul>
                <h2>Returns and exchanges</h2>
                <ul class="faq-accordion">
                    <li class="faq-accordion__item faq-accordion__item--active">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                    <li class="faq-accordion__item">
                        <button class="faq-accordion__button">What does uruoi mean?</button>
                        <div class="faq-accordion__answer">
                            <p>In Japanese, uruoi can mean moisture, richness, and fulfillment. Our brand name uruoi is taken from the Japanese verb “uruou,” it means moisture. Since moisture is the cornerstone of our lineup, we want everyone to be uruoi, and have uruoiskin!</p>
                        </div>
                    </li>
                </ul>
                <h2>Other Questions?</h2>
                <div>
                    <p>If you have any other questions, please email us at <a href="mailto:hello@uruoiskincare.com">hello@uruoiskincare.com</a>. with your questions, and we will do our best to reply as quickly as we can!</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "FAQ",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Other questions title",
            "default": "Other Questions?"
        },
        {
            "id": "copy",
            "type": "richtext",
            "label": "Other questions copy"
        }
    ],
    "blocks": [
        {
            "name": "General Questions",
            "type": "general",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "default": "What does uruoi mean?"
                },
                {
                    "id": "answer",
                    "type": "richtext",
                    "label": "Answer"
                }
            ]
        },
        {
            "name": "Products Questions",
            "type": "products",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "default": "What does uruoi mean?"
                },
                {
                    "id": "answer",
                    "type": "richtext",
                    "label": "Answer"
                }
            ]
        },
        {
            "name": "Regimen Questions",
            "type": "regimen",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "default": "What does uruoi mean?"
                },
                {
                    "id": "answer",
                    "type": "richtext",
                    "label": "Answer"
                }
            ]
        },
        {
            "name": "Payment and Shipping",
            "type": "payment",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "default": "What does uruoi mean?"
                },
                {
                    "id": "answer",
                    "type": "richtext",
                    "label": "Answer"
                }
            ]
        },
        {
            "name": "Returns and Exchanges",
            "type": "returns",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "default": "What does uruoi mean?"
                },
                {
                    "id": "answer",
                    "type": "richtext",
                    "label": "Answer"
                }
            ]
        }
    ]
}
{% endschema %}