<section class="history">
    <div class="history__top">

        <!-- LEFT COL -->
        <div class="history__top-img-wrapper parallax-wrapper">
            <h2 class="history__top-title">Science to Skin Care</h2>

            <div class='parallax-element position-absolute w-100 h-100 t-0 l-0'>
                <img 
                data-scroll 
                data-scroll-speed="-.85"
                class="history__top-bg-img" 
                src="https://uruoiskincare.com/img/about/history-1.jpg" alt="">
            </div>
        </div>
        <!-- END :: LEFT COL -->

        <div class="history__top-content-wrapper">
            <div class="history__content history__content--top">
                <h3 
                data-scroll 
                data-scroll-direction="vertical" 
                data-scroll-repeat="false"
                class='should-animate from-y dl-1'>In 1988, Denka formulated</h3>

                <div
                data-scroll 
                data-scroll-direction="vertical" 
                data-scroll-repeat="false"
                class='should-animate from-y dl-2'>
                    <p>our own patented fermentation technology to produce hyaluronic acid from lactic acid bacteria. This hyaluronic acid, our DENKA PURE HYALURONIC ACID, D.P.H.A.™ was created for the medical industry to reduce joint inflammation and other ailments. </p>
                    <br>
                    <p> Similar to the hyaluronic acid found in our body, D.P.H.A.™ is a high- quality and high-purity macro-molecule sodium hyaluronate that hydrates and helps the skin retain moisture, keeping it soft and supple. </p>
                </div>
            </div>
            <div class="history__top-content-img-wrapper">
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="history__bottom">
        <div class="history__bottom-img-wrapper">
            <div class="history__quote">Denka pure hyaluronic acid, D.P.H.A.™ </div>
            <div class="history__bottom-imgs">
                <img class="history__bottom-desk-img" src="https://uruoiskincare.com/img/about/history-3.jpg" alt="">
                <img class="history__bottom-img" src="https://uruoiskincare.com/img/about/history-2.jpg" alt="">
            </div>
        </div>
        <div class="history__content history__content--bottom">
            <h3>In 1989, DENKA applied </h3>
            <p>our own science to skin care to create uruoi using D.P.H.A.™ as the core ingredient to hydrate skin for a healthy, luminous complexion. Every product in the uruoi line contains D.P.H.A.™ as a potent source of hydration and to make your skin uruoi. </p>
        </div>
    </div>
</section> 