<section class="gallery">
    <div class="container">
        <div class="gallery__grid">
            <div class="gallery__card fb">
                <h2>U-Series</h2>
                <div class="gallery__subtitle">
                    <span>Designed to increase the skin’s hydration levels. </span>
                </div>
                <div class="gallery__text">
                    <p>
                        Harness the restorative power of water in the battle against dryness, loss of firmness, lack of
                        radiance,
                        discoloration, uneven skin tone and more. U-Series products are specifically designed to
                        increase
                        skin’s hydration levels, restore balance, and bring about the glow you’ve been longing for.
                        U-Series
                        products are formulated with DENKA PURE HYALURONIC ACID, D.P.H.A.™, plus natural moisturizing
                        ingredients
                        with silky textures to increase absorption for intensely hydrated, glowing skin. To simplify the
                        routine,
                        each product is marked with a number.
                    </p>
                </div>
            </div>
            <div class="gallery__card mlr-auto">
                <div class="gallery__content">
                    <a href="#" class="gallery__link">
                        <picture class="gallery__img">
                            <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/grid/UA.png">
                            <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/grid/UA.png">
                            <img src="http://127.0.0.1:5500/img/grid/UA.png" alt="Uruoi Image">
                        </picture>
                        <div class="gallery__hover-info">
                            <div class="gallery__rating">
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <defs>
                                            <clipPath id="rect16284126205765">
                                                <path
                                                    d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                                    class="mask"></path>
                                            </clipPath>
                                        </defs>
                                        <rect clip-path="url(#rect16284126205765)" width="4.5269999999999975" x="0.5"
                                            y="0" height="14.15" fill="#000"></rect>
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="gallery__price">
                                $ 28.00
                            </div>
                            <div class="gallery__cart">
                                <span>
                                    Add to cart
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="gallery__heading-sub">
                    <span>UA</span>
                </div>
                <div class="gallery__desc">
                    <p>Deep Moisture Gel</p>
                </div>
            </div>

            <div class="gallery__card ml-auto">
                <div class="gallery__content">
                    <a href="#" class="gallery__link">
                        <picture class="gallery__img">
                            <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/grid/U1.png">
                            <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/grid/U1.png">
                            <img src="http://127.0.0.1:5500/img/grid/U1.png" alt="Uruoi Image">
                        </picture>
                        <div class="gallery__hover-info">
                            <div class="gallery__rating">
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <defs>
                                            <clipPath id="rect16284126205765">
                                                <path
                                                    d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                                    class="mask"></path>
                                            </clipPath>
                                        </defs>
                                        <rect clip-path="url(#rect16284126205765)" width="4.5269999999999975" x="0.5"
                                            y="0" height="14.15" fill="#000"></rect>
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="gallery__price">
                                $ 28.00
                            </div>
                            <div class="gallery__cart">
                                <span>
                                    Add to cart
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="gallery__heading-sub">
                    <span>U1</span>
                </div>
                <div class="gallery__desc">
                    <p>Make-up Cleansing</p>
                </div>
            </div>
            <div class="gallery__card mr-auto">
                <div class="gallery__content">
                    <a href="#" class="gallery__link">
                        <picture class="gallery__img">
                            <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/grid/U2.png">
                            <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/grid/U2.png">
                            <img src="http://127.0.0.1:5500/img/grid/U2.png" alt="Uruoi Image">
                        </picture>
                        <div class="gallery__hover-info">
                            <div class="gallery__rating">
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <defs>
                                            <clipPath id="rect16284126205765">
                                                <path
                                                    d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                                    class="mask"></path>
                                            </clipPath>
                                        </defs>
                                        <rect clip-path="url(#rect16284126205765)" width="4.5269999999999975" x="0.5"
                                            y="0" height="14.15" fill="#000"></rect>
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="gallery__price">
                                $ 28.00
                            </div>
                            <div class="gallery__cart">
                                <span>
                                    Add to cart
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="gallery__heading-sub">
                    <span>U2</span>
                </div>
                <div class="gallery__desc">
                    <p>Clean Foam</p>
                </div>
            </div>
            <div class="gallery__card mlr-auto">
                <div class="gallery__content">
                    <a href="#" class="gallery__link">
                        <picture class="gallery__img">
                            <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/grid/U3.png">
                            <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/grid/U3.png">
                            <img src="http://127.0.0.1:5500/img/grid/U3.png" alt="Uruoi Image">
                        </picture>
                        <div class="gallery__hover-info">
                            <div class="gallery__rating">
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <defs>
                                            <clipPath id="rect16284126205765">
                                                <path
                                                    d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                                    class="mask"></path>
                                            </clipPath>
                                        </defs>
                                        <rect clip-path="url(#rect16284126205765)" width="4.5269999999999975" x="0.5"
                                            y="0" height="14.15" fill="#000"></rect>
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="gallery__price">
                                $ 28.00
                            </div>
                            <div class="gallery__cart">
                                <span>
                                    Add to cart
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="gallery__heading-sub">
                    <span>U3</span>
                </div>
                <div class="gallery__desc">
                    <p>Skin Lotion</p>
                </div>
            </div>
            <div class="gallery__card ml-auto">
                <div class="gallery__content">
                    <a href="#" class="gallery__link">
                        <picture class="gallery__img">
                            <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/grid/U4.png">
                            <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/grid/U4.png">
                            <img src="http://127.0.0.1:5500/img/grid/U4.png" alt="Uruoi Image">
                        </picture>
                        <div class="gallery__hover-info">
                            <div class="gallery__rating">
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <defs>
                                            <clipPath id="rect16284126205765">
                                                <path
                                                    d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                                    class="mask"></path>
                                            </clipPath>
                                        </defs>
                                        <rect clip-path="url(#rect16284126205765)" width="4.5269999999999975" x="0.5"
                                            y="0" height="14.15" fill="#000"></rect>
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="gallery__price">
                                $ 28.00
                            </div>
                            <div class="gallery__cart">
                                <span>
                                    Add to cart
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="gallery__heading-sub">
                    <span>U4</span>
                </div>
                <div class="gallery__desc">
                    <p>Repair Essence</p>
                </div>
            </div>
            <div class="gallery__card mr-auto">
                <div class="gallery__content">
                    <a href="#" class="gallery__link">
                        <picture class="gallery__img">
                            <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/grid/U5.png">
                            <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/grid/U5.png">
                            <img src="http://127.0.0.1:5500/img/grid/U5.png" alt="Uruoi Image">
                        </picture>
                        <div class="gallery__hover-info">
                            <div class="gallery__rating">
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <defs>
                                            <clipPath id="rect16284126205765">
                                                <path
                                                    d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                                    class="mask"></path>
                                            </clipPath>
                                        </defs>
                                        <rect clip-path="url(#rect16284126205765)" width="4.5269999999999975" x="0.5"
                                            y="0" height="14.15" fill="#000"></rect>
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="gallery__price">
                                $ 28.00
                            </div>
                            <div class="gallery__cart">
                                <span>
                                    Add to cart
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="gallery__heading-sub">
                    <span>U5</span>
                </div>
                <div class="gallery__desc">
                    <p>Moisture Milk</p>
                </div>
            </div>
            <div class="gallery__card mlr-auto">
                <div class="gallery__content">
                    <a href="#" class="gallery__link">
                        <picture class="gallery__img">
                            <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/grid/U6.png">
                            <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/grid/U6.png">
                            <img src="http://127.0.0.1:5500/img/grid/U6.png" alt="Uruoi Image">
                        </picture>
                        <div class="gallery__hover-info">
                            <div class="gallery__rating">
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                                <div class="gallery__star">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 14.45"
                                        class="gallery__svg-star">
                                        <defs>
                                            <clipPath id="rect16284126205765">
                                                <path
                                                    d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                                    class="mask"></path>
                                            </clipPath>
                                        </defs>
                                        <rect clip-path="url(#rect16284126205765)" width="4.5269999999999975" x="0.5"
                                            y="0" height="14.15" fill="#000"></rect>
                                        <path
                                            d="M8,12,4.18,14a.5.5,0,0,1-.67-.21.49.49,0,0,1,0-.31l.7-4.24-3.06-3a.5.5,0,0,1,0-.71.47.47,0,0,1,.28-.14l4.25-.64L7.55.89A.51.51,0,0,1,8.22.67a.54.54,0,0,1,.23.22l1.92,3.85,4.25.64A.5.5,0,0,1,15,6a.62.62,0,0,1-.14.28l-3.06,3,.7,4.24a.5.5,0,0,1-.41.57.47.47,0,0,1-.31-.05Z"
                                            class="star"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="gallery__price">
                                $ 28.00
                            </div>
                            <div class="gallery__cart">
                                <span>
                                    Add to cart
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="gallery__heading-sub">
                    <span>U6</span>
                </div>
                <div class="gallery__desc">
                    <p>Emollient Cream</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>