<section class="staples">
   <div class="container-left">
      <div class="staples__container">
         {% render 'sliders-text' 
            title:section.settings.title
            subtitle: section.settings.subtitle
            copy: section.settings.copy
            btnText: section.settings.btn-text
            btnLink: section.settings.btn-link
         %}
          {% render 'slider' check: true %}
         <!-- MOBILE CONTENT -->
          {% render 'sliders-mobile-text' 
            title:section.settings.title
            subtitle: section.settings.subtitle
            copy: section.settings.copy
            btnText: section.settings.btn-text
            btnLink: section.settings.btn-link 
        %}
      </div>
   </div>
</section>

{% schema %}
{
   "name": "Regimen Normal",
   "settings": [
      {
         "id": "title",
         "type": "text",
         "label": "Title",
         "default": "Hydration Staples"
      },
      {
         "id": "subtitle",
         "type": "richtext",
         "label": "Subtitle"
      },
      {
         "id": "copy",
         "type": "richtext",
         "label": "Copy"
      },
      {
         "id": "btn-text",
         "type": "text",
         "label": "Button Text"
      },
      {
         "id": "btn-link",
         "type": "url",
         "label": "Button Link"
      }
   ],
   "blocks": [
      {
         "name": "ProductSlider",
         "type": "product-slider",
         "settings": [
            {
               "id": "product",
               "type": "product",
               "label": "Product"
            },
            {
               "id": "override-img",
               "type": "image_picker",
               "label": "Override Products Featured Image"
            },
            {
               "id": "override-name",
               "type": "text",
               "label": "Override Product Name"
            },
            {
               "id": "product-desc",
               "type": "richtext",
               "label": "Text under the product"
            },
            {
               "id": "am-pm",
               "type": "select",
               "label": "Is this product for AM or PM?",
               "options": [
                    {
                        "value": "am",
                        "label": "AM"
                    },
                    {
                        "value": "pm",
                        "label": "PM"
                    },
                    {
                        "value": "both",
                        "label": "Both"
                    }
                ]
            }
         ]
      }
   ],
   "presets": [
      {
      "category": "Product",
      "name": "Product Slider"
      }
   ]
}
{% endschema %}