<section class="set">
    <div class="container">
        <div class="set__wrap">
            <div class="set__heading-box">
                <h2>Double Cleansing Set Includes</h2>
                <span class="set__heading-subtitle">recomended for</span>
                <span class="set__heading-desc">For oily to normal skin types. <br> Best for congested pores</span>
            </div>
            <div class="set__card-box">
                <div class="set__card">
                    <picture class="set__img">
                        <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/set/U1.png">
                        <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/set/U1.png">
                        <img src="http://127.0.0.1:5500/img/set/U1.png" alt="Uruoi Image">
                    </picture>
                    <div class="set__card-wrap">
                        <div class="set__card-heading">
                            <span class="set__card-title">U1</span>
                            <span class="set__card-subtitle">make-up cleansing</span>
                        </div>
                        <div class="set__card-desc">4.94 fl.oz</div>
                    </div>
                    <div class="set__card-text">
                        <p>
                            A lightweight gel-to-oil cleanser that easily washes away make-up, sunscreen, and
                            impurities. With plant-based
                            cleansing agents and D.P.H.A.™ in its formula, U1 make-up cleansing provides a deep clean
                            without stripping
                            skin’s essential moisture. Formulated without synthetic fragrances, ethanol, paraben,
                            phthalate, SLS, synthetic
                            color, and mineral oil.
                        </p>
                    </div>
                </div>
                <div class="set__card">
                    <picture class="set__img">
                        <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/set/U2.png">
                        <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/set/U2.png">
                        <img src="http://127.0.0.1:5500/img/set/U2.png" alt="Uruoi Image">
                    </picture>
                    <div class="set__card-wrap">
                        <div class="set__card-heading">
                            <span class="set__card-title">U2</span>
                            <span class="set__card-subtitle">make-up cleansing</span>
                        </div>
                        <div class="set__card-desc">4.94 fl.oz</div>
                    </div>
                    <div class="set__card-text">
                        <p>
                            A cream-to-foam cleanser that lathers into a dreamy cloud of fluffy foam. Cleanses oil and
                            sebum, and
                            minimizes appearance of pores. Leaves skin soft and fresh. Formulated without synthetic
                            fragrances, ethanol,
                            paraben, phthalate, SLS, synthetic color, and mineral oil.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>