<section class="sets-full-ing-two">
    <div class="sets-full-ing-two__container">
        <div class="sets-full-ing-two__content">
            <div class="sets-full-ing-two__wrapper">
                <h2 class="sets-full-ing-two__title">Full Ingredients</h2>
                <div class="sets-full-ing-two__small-pic">
                    <picture>
                        <source
                          media="(max-width: 1200px)"
                          srcset="https://cdn.shopify.com/s/files/1/0066/4774/2527/files/adult-business-conceptual-1030885_8b4f331c-ed72-4129-9edf-770a1f0df1ac.png"
                        />
                        <img
                          src="https://cdn.shopify.com/s/files/1/0066/4774/2527/files/adult-business-conceptual-1030885_8b4f331c-ed72-4129-9edf-770a1f0df1ac.png"
                          alt=""
                        />
                    </picture>
                </div>
            </div>
            <div class="sets-full-ing-two__bold sets-full-ing-two__bold--first">
                <h3 class="sets-full-ing-two__prod-title">U1</h3>
                <p>Triethylhexanoin, Glycerin, Water, PEG-20 Glyceryl Triisostearate, Butylene Glycol, Sorbitol, Sodium Hyaluronate, Royal Jelly Extract, Cynara Scolymus (Artichoke) Leaf Extract, Olea Europaea (Olive) Fruit Oil, Quillaja Saponaria Bark Extract, Sapindus Mukurossi Peel Extract, Piper Longum Fruit Extract, Dipotassium Glycyrrhizate, Tocopherol, Arginine, Acrylates/C10-30 Alkyl Acrylate Crosspolymer, Phenoxyethanol.</p>
            </div>
            <div class="sets-full-ing-two__bold">
                <h3 class="sets-full-ing-two__prod-title">U2</h3>
                <p>Water, Myristic Acid, Glycerin, Potassium: Hydroxide, Glyceryl Stearate, Stearic Acid, Sorbitol, Sodium Lauroyl, Methylaminopropionate, Glycol Distearate, Butylene Glycol, Lauric Acid, Disodium Stearoyl, Glutamate, Sodium PCA, Tocopherol, Squalane, Simmondsia Chinensis (Jojoba) Seed Oil, Dipotassium Glycyrrhizate, Sodium Hyaluronate, Algae Extract, Hydrolyzed Collagen.</p>
            </div>
            <div class="sets-full-ing-two__light">
                <p>The products for sale on Denka Corporation's (“Denka”) website are intended to enhance beauty routines. Please know that the products have not been evaluated by the FDA, and are not intended to diagnose, cure, mitigate, prevent or treat diseases or health conditions.</p>
                <p>For best results, read labels and ingredients carefully and follow directions for use. If you have a specific allergy or sensitivity, avoid ingredients that may trigger a reaction. Denka is not liable for adverse reactions to any ingredient. For your safety, test products on a small patch of skin before use, especially if there is any doubt or history of reactions.</p>
            </div>
        </div>
        <div class="sets-full-ing-two__img">
            <picture class="">
                <source
                  media="(max-width: 1200px)"
                  srcset="{{ 'U1.png' | asset_img_url: 'medium' }}"
                />
                <img
                  src="{{ 'U1.png' | asset_img_url: 'medium' }}"
                  alt=""
                />
              </picture>
        </div>
    </div>
</section>