<section class="story-banner">
    <div class="story-banner__image-wrapper">
        <img src="https://uruoiskincare.com/img/about/story-1.jpg" alt="" class="story-banner__img">
        <h2 class="story-banner__title">The Power Of Hydration</h2>
    </div>
    <div class="story-banner__content-wrapper">
        <div class="story-banner__content">
            <p> In Japanese uruoi means moisture, blessing and fulfillment. Inspired by this belief, uruoi was created in 1989 with a focus on Japan’s hydration driven beauty rituals.</p>
            <p>uruoi concentrates on the core elements of skincare to combine an authentically Japanese minimalist philosophy and powerful ingredients backed by science. </p>
        </div>
        <img src="https://uruoiskincare.com/img/about/story-2.jpg" alt="" class="story-banner__content-img">
    </div>  
</section>

<section class="story-middle">
    <div class="story-middle__lined-images">
        <img class="story-middle__lined-img-1" src="https://uruoiskincare.com/img/about/hydration-add-1.jpg" alt="">
        <img class="story-middle__lined-img-2" src="https://uruoiskincare.com/img/about/hydration-add-2.jpg" alt="">
    </div>
    <div class="story-middle__title-and-img">
        <img class="story-middle__img" src="https://uruoiskincare.com/img/about/story-3.jpg" alt="" />
        <h2 class="story-middle__title">With Hydration At Its Core</h2>
    </div>
    <div class="story-middle__content-wrapper">
        <div class="story-middle__content">
            <p> uruoi has formulated a minimalistic line of skin care with our proprietary DENKA PURE HYALURONIC ACID, D.P.H.A.™ to help skin retain moisture, making skincare accessible for everyone and creating a basic routine that listens to what our skin really needs. </p>
        </div>
        <div class="story-middle__content-img-wrapper">
            <img class="story-middle__content-img" src="https://uruoiskincare.com/img/about/story-4.jpg" alt="" />
            <img class="story-middle__content-img" src="https://uruoiskincare.com/img/about/story-5.jpg" alt="" />
        </div>
    </div>
</section>

<section class="story-bottom">
    <h2 class="story-bottom__content">A blessing of water for every skin. relieving dryness with a gentle touch.</h2>
    <div class="story-bottom__images-wrapper">
        <div class="story-bottom__small-img-wrapper">
            <img class="story-bottom__img-small" src="https://uruoiskincare.com/img/about/story-6.jpg" alt="" />
        </div>
        <img class="story-bottom__img-big" src="https://uruoiskincare.com/img/about/story-7.jpg" alt="" />
    </div>
</section>