<section class="discovery">
    <div class="container">
        <div class="discovery__container">
            <div class="discovery__wrap">
                <div class="discovery__heading-box">
                    <div class="discovery__heading-wrap">
                        <h2>Discovery set Includes</h2>
                        <span class="discovery__heading-subtitle">recomended for:</span>
                        <span class="discovery__heading-desc">For all skin types. Best for dehydrated sensitive
                            skin.</span>
                    </div>
                </div>
                <div class="discovery__card">
                    <picture class="discovery__img">
                        <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/discovery/uruoi_s1.png">
                        <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/discovery/uruoi_s1.png">
                        <img src="http://127.0.0.1:5500/img/discovery/uruoi_s1.png" alt="Uruoi Image">
                    </picture>
                    <div class="discovery__card-wrap">
                        <div class="discovery__card-heading">
                            <span class="discovery__card-title">S1</span>
                            <span class="discovery__card-subtitle">extra mind cleansing</span>
                        </div>
                        <div class="discovery__card-desc">4.94 fl.oz</div>
                    </div>
                    <div class="discovery__card-text">
                        <p>
                            The ultimate everyday cleanser for sensitive skin. Formulated with gentle cleansing agents
                            that protect, soften,
                            and restore skin while cleansing. Emollient-rich ingredients such as glycerin, squalane and
                            jojoba seed oil help
                            condition and restore skin’s surface while cleansing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="discovery__wrap">
                <div class="discovery__card">
                    <picture class="discovery__img">
                        <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/discovery/S3.png">
                        <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/discovery/S3.png">
                        <img src="http://127.0.0.1:5500/img/discovery/S3.png" alt="Uruoi Image">
                    </picture>
                    <div class="discovery__card-wrap">
                        <div class="discovery__card-heading">
                            <span class="discovery__card-title">S3</span>
                            <span class="discovery__card-subtitle">extra mild lotion</span>
                        </div>
                        <div class="discovery__card-desc">5.47 fl.oz</div>
                    </div>
                    <div class="discovery__card-text">
                        <p>
                            A lightweight water-based essence that helps smooth texture and improve uneven skin tone.
                            With gentle yet powerful
                            hydrating ingredients that are suitable for sensitive skin, S3 extra mild lotion features
                            D.P.H.A and other
                            neo-bio ingredients that help maintain the skin’s natural oil for healthy, hydrated,
                            balanced skin. S3 extra mild
                            lotion preps the skin to absorb the most benefits from the subsequent steps in your skincare
                            routine.
                        </p>
                    </div>
                </div>
                <div class="discovery__card">
                    <picture class="discovery__img">
                        <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/discovery/UA.png">
                        <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/discovery/UA.png">
                        <img src="http://127.0.0.1:5500/img/discovery/UA.png" alt="Uruoi Image">
                    </picture>
                    <div class="discovery__card-wrap">
                        <div class="discovery__card-heading">
                            <span class="discovery__card-title">UA</span>
                            <span class="discovery__card-subtitle">deep moisture gel</span>
                        </div>
                        <div class="discovery__card-desc">4.94 fl.oz</div>
                    </div>
                    <div class="discovery__card-text">
                        <p>
                            A hydrating, all-in-one moisturizer that also functions as a sleep mask, massage cream, body
                            lotion and more.
                            Vitamin C derivatives help promote a radiant and bright complexion. D.P.H.A.™ boosts
                            hydration and prevents water
                            loss by strengthening the skin barrier. Formulated for face and body, this revolutionary gel
                            leaves skin feeling
                            soothed, calmed and refreshed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>