<section class="leaf">
    <div class="leaf__content">
        <div class="leaf__img-box">
            <div class="leaf__subtitle-top">since 1989</div>
            <picture class="leaf__img">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/leaf/U1.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/leaf/U1.png">
                <img src="http://127.0.0.1:5500/img/leaf/U1.png" alt="Uruoi Image">
            </picture>
            <picture class="leaf__img-small">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/leaf/Bitmap.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/leaf/Bitmap.png">
                <img src="http://127.0.0.1:5500/img/leaf/Bitmap.png" alt="Uruoi Image">
            </picture>
            <div class="leaf__subtitle-bottom">made in japan</div>
        </div>
        <div class="leaf__container">
            <div class="leaf__wrap">
                <div class="leaf__text-box">
                    <div class="leaf__number">3.</div>
                    <div class="leaf__heading">
                        <h5>Artichoke leaf extract:</h5>
                    </div>
                    <div class="leaf__text">
                        <p>
                            High in Vitamin C assists in collagen production and detoxification to promote a youthful
                            complexion. 
                        </p>
                    </div>
                </div>
                <div class="leaf__text-box">
                    <div class="leaf__number">4.</div>
                    <div class="leaf__heading">
                        <h5>Ascorbyl phosphate Mg (Vitamin C):</h5>
                    </div>
                    <div class="leaf__text max-width-lg-40">
                        <p>
                            Also known to increase skin’s hydration levels as well as being effective for calming
                            factors in skin that can lead to excess oil.
                        </p>
                    </div>
                </div>
                <div class="leaf__text-box max-width-lg-42">
                    <div class="leaf__number">5.</div>
                    <div class="leaf__heading">
                        <h5>Brown algae extract:</h5>
                    </div>
                    <div class="leaf__text">
                        <p>
                            Derived from 3 different seaweeds, helps to capture and lock in moisture, helps to soften
                            and smoothen skin, and has antibacterial purposes as an antioxidant.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>