<section class="extract">
    <div class="extract__content">
        <div class="extract__box-right">
            <picture class="extract__img">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/extract/U2_U3_U5.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/extract/U2_U3_U5.png">
                <img src="http://127.0.0.1:5500/img/extract/U2_U3_U5.png" alt="Uruoi Image">
            </picture>
            <div class="extract__wrap d-none-1">
                <div class="extract__text-box">
                    <div class="extract__number">1.</div>
                    <div class="extract__heading">
                        <h5>Alcaligenes Polysaccharides:</h5>
                    </div>
                    <div class="extract__text">
                        <p>
                            A water binding agent that locks in moisture by creating a water jelly barrier on skin.
                            Similar to hyaluronic acid, it moisturizes skin and prevents water loss. It also protects
                            skin from environmental sources of irritation to keep your skin healthy and replenished.
                        </p>
                    </div>
                </div>
                <div class="extract__text-box">
                    <div class="extract__number">2.</div>
                    <div class="extract__heading">
                        <h5>Artemia extract:</h5>
                    </div>
                    <div class="extract__text">
                        <p>
                            Assists in protecting skin from environmental stressors such as red light and low
                            temperatures and increases your skin's ability to protect and repair itself.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="extract__box-left">
            <div class="extract__title-box">
                <div class="extract__title">
                    <h2>did you know?</h2>
                </div>
                <div class="extract__title-text">
                    <p>
                        1g of hyaluronic acid can hold up to 1000 times in its weight in water and will add a
                        barrier to trap water below and deliver moisture to your skin.
                    </p>
                </div>
                <div class="extract__svg-box-top d-none-1">
                    <svg class="extract__svg" width="22px" height="32px" viewBox="0 0 22 32">
                        <title>Arrow Down</title>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-38.000000, -3068.000000)" fill="#000000">
                                <g
                                    transform="translate(49.000000, 3084.000000) rotate(-270.000000) translate(-49.000000, -3084.000000) translate(33.000000, 3073.000000)">
                                    <path
                                        d="M21.426087,6.39488462e-14 L20.0347826,1.60784314 C23.9304348,5.46666667 26.7130435,8.14640523 28.3826087,9.64705882 C22.5246498,9.58730789 13.0637802,9.58730789 0,9.64705882 L0,11.5764706 C13.0678362,11.5297639 22.5287058,11.5297639 28.3826087,11.5764706 C26.7130435,13.2915033 23.9304348,16.0784314 20.0347826,19.9372549 L21.426087,21.8666667 L32,10.6117647 L21.426087,6.39488462e-14 Z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="extract__img-box">
                <picture class="extract__img-big">
                    <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/extract/04_U3_U5_Texture_FINAL.png">
                    <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/extract/04_U3_U5_Texture_FINAL.png">
                    <img src="http://127.0.0.1:5500/img/extract/04_U3_U5_Texture_FINAL.png" alt="Uruoi Image">
                </picture>
                <picture class="extract__img-small">
                    <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/extract/U5.png">
                    <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/extract/U5.png">
                    <img src="http://127.0.0.1:5500/img/extract/U5.png" alt="Uruoi Image">
                </picture>
            </div>
            <div class="extract__svg-box-bottom d-none-1">
                <svg class="extract__svg" width="22px" height="32px" viewBox="0 0 22 32">
                    <title>Arrow Down</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-38.000000, -3068.000000)" fill="#000000">
                            <g
                                transform="translate(49.000000, 3084.000000) rotate(-270.000000) translate(-49.000000, -3084.000000) translate(33.000000, 3073.000000)">
                                <path
                                    d="M21.426087,6.39488462e-14 L20.0347826,1.60784314 C23.9304348,5.46666667 26.7130435,8.14640523 28.3826087,9.64705882 C22.5246498,9.58730789 13.0637802,9.58730789 0,9.64705882 L0,11.5764706 C13.0678362,11.5297639 22.5287058,11.5297639 28.3826087,11.5764706 C26.7130435,13.2915033 23.9304348,16.0784314 20.0347826,19.9372549 L21.426087,21.8666667 L32,10.6117647 L21.426087,6.39488462e-14 Z">
                                </path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="extract__wrap d-none-md">
            <div class="extract__text-box">
                <div class="extract__number">1.</div>
                <div class="extract__heading">
                    <h5>Alcaligenes Polysaccharides:</h5>
                </div>
                <div class="extract__text">
                    <p>
                        A water binding agent that locks in moisture by creating a water jelly barrier on skin.
                        Similar to hyaluronic acid, it moisturizes skin and prevents water loss. It also protects
                        skin from environmental sources of irritation to keep your skin healthy and replenished.
                    </p>
                </div>
            </div>
            <div class="extract__text-box">
                <div class="extract__number">2.</div>
                <div class="extract__heading">
                    <h5>Artemia extract:</h5>
                </div>
                <div class="extract__text">
                    <p>
                        Assists in protecting skin from environmental stressors such as red light and low
                        temperatures and increases your skin's ability to protect and repair itself.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>