<section class="collagen">
    <div class="collagen__content">
        <div class="collagen__img-box">
            <picture class="collagen__img">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/collagen/uruoi_s1.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/collagen/uruoi_s1.png">
                <img src="http://127.0.0.1:5500/img/collagen/uruoi_s1.png" alt="Uruoi Image">
            </picture>
        </div>
        <div class="collagen__container">
            <div class="collagen__wrap">
                <div class="collagen__text-box">
                    <div class="collagen__number">10.</div>
                    <div class="collagen__heading">
                        <h5>Grapevine extract:</h5>
                    </div>
                    <div class="collagen__text">
                        <p>
                            Helps enhance and promote cell rejuvenation, collagen production, and supple skin. Helps
                            reduce the appearance of fine lines.
                        </p>
                    </div>
                </div>
                <div class="collagen__text-box">
                    <div class="collagen__number">11.</div>
                    <div class="collagen__heading">
                        <h5>Hydrolyzed Collagen:</h5>
                    </div>
                    <div class="collagen__text">
                        <p>
                            Creates a protective layer across skin that is very similar to your natural acid mantle to
                            maintain moisture.
                        </p>
                    </div>
                </div>
                <div class="collagen__text-box">
                    <div class="collagen__number">12.</div>
                    <div class="collagen__heading">
                        <h5>Jojoba seed oil: </h5>
                    </div>
                    <div class="collagen__text">
                        <p>
                            Similar to our skin’s natural sebum, Jojoba oil helps moisturize skin while
                            controlling sebum production, and alleviates redness caused by dryness.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>