<section class="kernel">
    <div class="kernel__content">
        <div class="kernel__img-box">
            <div class="kernel__subtitle-top">since 1989</div>
            <picture class="kernel__img">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/kernel/U3_U4.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/kernel/U3_U4.png">
                <img src="http://127.0.0.1:5500/img/kernel/U3_U4.png" alt="Uruoi Image">
            </picture>
            <picture class="kernel__img-small">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/kernel/Bitmap.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/kernel/Bitmap.png">
                <img src="http://127.0.0.1:5500/img/kernel/Bitmap.png" alt="Uruoi Image">
            </picture>
            <div class="kernel__subtitle-bottom">made in japan</div>
        </div>
        <div class="kernel__container">
            <div class="kernel__wrap">
                <div class="kernel__text-box">
                    <div class="kernel__number">15.</div>
                    <div class="kernel__heading">
                        <h5> Oat Kernel Extract:</h5>
                    </div>
                    <div class="kernel__text">
                        <p>
                            Oat has been used to treat troubled skin for thousands of years. It helps to calm irritation
                            and
                            relieve itchiness from skin. Hydrates skin. Antioxidant properties help to protect and
                            improve skin
                            tone for a plump and rejuvenating appearance.
                        </p>
                    </div>
                </div>
                <div class="kernel__text-box">
                    <div class="kernel__number">16.</div>
                    <div class="kernel__heading">
                        <h5> pca na:</h5>
                    </div>
                    <div class="kernel__text max-width-lg-34">
                        <p>
                            Protects the acid mantle, help reduces inflammation in the skin, prevents surface
                            irritation.
                        </p>
                    </div>
                </div>
                <div class="kernel__text-box max-width-lg-36">
                    <div class="kernel__number">17.</div>
                    <div class="kernel__heading">
                        <h5>Polyquaternium-51:</h5>
                    </div>
                    <div class="kernel__text">
                        <p>
                            Creates a protective layer across skin that is very similar to your natural acid mantle to
                            maintain moisture.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>