<section class="gluco">
    <div class="gluco__content">
        <div class="gluco__img-box">
            <picture class="gluco__img">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/gluco/adolescent-casual-contemporary-1030895.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/gluco/adolescent-casual-contemporary-1030895.png">
                <img src="http://127.0.0.1:5500/img/gluco/adolescent-casual-contemporary-1030895.png" alt="Uruoi Image">
            </picture>
            <picture class="gluco__img-small">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/gluco/UA.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/gluco/UA.png">
                <img src="http://127.0.0.1:5500/img/gluco/UA.png" alt="Uruoi Image">
            </picture>
        </div>
        <div class="gluco__container">
            <div class="gluco__wrap">
                <div class="gluco__text-box">
                    <div class="gluco__number">20.</div>
                    <div class="gluco__heading">
                        <h5> squalane:</h5>
                    </div>
                    <div class="gluco__text">
                        <p>
                            A stable form of Squalene (a naturally occurring part of skin’s natural moisture),
                            helps balance oil production and keep our skin hydrated.
                        </p>
                    </div>
                </div>
                <div class="gluco__text-box">
                    <div class="gluco__number">21.</div>
                    <div class="gluco__heading">
                        <h5> Xylitylglucoside:</h5>
                    </div>
                    <div class="gluco__text">
                        <p>
                            An ingredient derived from two water-binding plant sugars, xylitol and glucose,
                            optimizes water reserves by promoting existing NMFs and promotes water retention.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>