<section class="natural">
    <div class="natural__content">
        <div class="natural__img-box">
            <picture class="natural__img">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/natural/05_U4_Texture_FINAL (2).png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/natural/05_U4_Texture_FINAL (2).png">
                <img src="http://127.0.0.1:5500/img/natural/05_U4_Texture_FINAL (2).png" alt="Uruoi Image">
            </picture>
            <picture class="natural__img-small">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/natural/U4_Hand (3).png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/natural/U4_Hand (3).png">
                <img src="http://127.0.0.1:5500/img/natural/U4_Hand (3).png" alt="Uruoi Image">
            </picture>
        </div>
        <div class="natural__container">
            <div class="natural__wrap">
                <div class="natural__text-box">
                    <div class="natural__number">13.</div>
                    <div class="natural__heading">
                        <h5>Licorice root extract:</h5>
                    </div>
                    <div class="natural__text">
                        <p>
                            Helps to calm irritated skin and brighten skin, D.P.H.A helps to relieve redness and plump
                            the skin texture.
                        </p>
                    </div>
                </div>
                <div class="natural__text-box">
                    <div class="natural__number">14.</div>
                    <div class="natural__heading">
                        <h5>Natural Oils:</h5>
                    </div>
                    <div class="natural__text">
                        <p>
                            Olive fruit oil/ Soybean oil/ Jojoba seed oil/ Sunflower seed oil: A blend of moisturizing
                            oil to
                            reduce dryness and help to retain hydration.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>