<section class="glycerin">
    <div class="glycerin__content">
        <div class="glycerin__img-box">
            <picture class="glycerin__img">
                <source media="(max-width: 768px)" srcset="http://127.0.0.1:5500/img/glycerin/Bitmap.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/glycerin/45.png">
                <img src="http://127.0.0.1:5500/img/glycerin/45.png" alt="Uruoi Image">
            </picture>
            <picture class="glycerin__img-small">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/glycerin/U2.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/glycerin/U2.png">
                <img src="http://127.0.0.1:5500/img/glycerin/U2.png" alt="Uruoi Image">
            </picture>
        </div>
        <div class="glycerin__container">
            <div class="glycerin__wrap">
                <div class="glycerin__text-box">
                    <div class="glycerin__number">8.</div>
                    <div class="glycerin__heading">
                        <h5>Dipotassium Glycyrrhizate: </h5>
                    </div>
                    <div class="glycerin__text max-width-lg-33">
                        <p>
                            Also known as licorice root extract, Dipotassium Glycyrrhizate has anti-inflammatory
                            properties to help prevent redness and helps skin retain hyaluronic acid.
                        </p>
                    </div>
                </div>
                <div class="glycerin__text-box">
                    <div class="glycerin__number">9.</div>
                    <div class="glycerin__heading">
                        <h5> Glycerin:</h5>
                    </div>
                    <div class="glycerin__text max-width-lg-38">
                        <p>
                            Moisturizes the skin by absorbing the water from the air into the skin’s outer layer.
                            It helps to form a protective layer that helps prevent moisture loss.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>