<section class="sodium">
    <div class="sodium__content">
        <div class="sodium__img-box">
            <picture class="sodium__img">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/sodium/UA_U5_U6.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/sodium/UA_U5_U6.png">
                <img src="http://127.0.0.1:5500/img/sodium/UA_U5_U6.png" alt="Uruoi Image">
            </picture>
        </div>
        <div class="sodium__container">
            <picture class="sodium__img-small">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/sodium/Bitmap.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/sodium/Bitmap.png">
                <img src="http://127.0.0.1:5500/img/sodium/Bitmap.png" alt="Uruoi Image">
            </picture>
            <div class="sodium__wrap">
                <div class="sodium__text-box">
                    <div class="sodium__number">18.</div>
                    <div class="sodium__heading">
                        <h5> Plant Derived Extracts:</h5>
                    </div>
                    <div class="sodium__text">
                        <p>
                            Carrot root extracts/ Grapevine extract/ Aloe vera extract: Skin soothing extracts with
                            hydrating benefits.
                        </p>
                    </div>
                </div>
                <div class="sodium__text-box">
                    <div class="sodium__number">19.</div>
                    <div class="sodium__heading">
                        <h5> Sodium Lactate:</h5>
                    </div>
                    <div class="sodium__text">
                        <p>
                            A natural part of our skin, Sodium Lactate is a humectant that keeps skin hydrated.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>