<section class="acid">
    <div class="acid__content">
        <div class="acid__img-box">
            <picture class="acid__img">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/acid/U_Series.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/acid/U_Series.png">
                <img src="http://127.0.0.1:5500/img/acid/U_Series.png" alt="Uruoi Image">
            </picture>
        </div>
        <div class="acid__container">
            <picture class="acid__img-small">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/acid/Bitmap.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/acid/Bitmap.png">
                <img src="http://127.0.0.1:5500/img/acid/Bitmap.png" alt="Uruoi Image">
            </picture>
            <div class="acid__wrap">
                <div class="acid__text-box max-width-lg-34">
                    <div class="acid__number">6.</div>
                    <div class="acid__heading">
                        <h5>Chlorella extract:</h5>
                    </div>
                    <div class="acid__text">
                        <p>
                            Provides B vitamins, which help calm skin inflammation and promote a healthy complexion. 
                        </p>
                    </div>
                </div>
                <div class="acid__text-box">
                    <div class="acid__number">7.</div>
                    <div class="acid__heading">
                        <h5>Citric acid:</h5>
                    </div>
                    <div class="acid__text">
                        <p>
                            An Alpha Hydroxy Acid that exfoliates skin, gently lifting dead skin and fighting dullness.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>