<section class="features">
    <div class="features__content-top">
        <div class="container">
            <div class="features__heading-box">
                <span class="features__subtitle">
                    Don't let cleanser take away your glow.
                </span>
                <div class="features__heading">
                    <h2>Cleanse to glow</h2>
                </div>
            </div>
        </div>
        <div class="features__container">
            <picture class="features__img-box">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/product/U1 texture.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/product/U1 texture.png">
                <img src="http://127.0.0.1:5500/img/product/U1 texture.png" alt="Uruoi Image">
            </picture>
            <div class="features__wrap">
                <div class="features__heading-sub ml-3-lg">
                    <h3>Product Features </h3>
                </div>
                <ul class="features__list">
                    <li class="features__item">Lightweight gel-to-oil cleanser removes make-up, sunscreen, and
                        impurities</li>
                    <li class="features__item">Provides a deep clean without stripping skin’s essential moisture </li>
                    <li class="features__item">Cleanses oil and sebum, and minimizes appearance of pores</li>
                    <li class="features__item">Suitable for oily, combination, dry, aging skin types </li>
                    <li class="features__item">Free of fragrance, ethanol, paraben, phthalate, SLS, synthetic color, and
                        mineral oil</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="features__content-mid">
        <div class="features__left-box-mid">
            <div class="features__title">
                <h2>Full Ingredients</h2>
            </div>
            <div class="features__img-box-mid">
                <picture class="features__img-mid">
                    <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/product/adult-business-conceptual-1030885.png">
                    <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/product/adult-business-conceptual-1030885.png">
                    <img src="http://127.0.0.1:5500/img/product/adult-business-conceptual-1030885.png" alt="Uruoi Image">
                </picture>
            </div>
            <div class="features__text-wrap">
                <div class="features__text-desc">
                    <p>
                        Triethylhexanoin, Glycerin, Water, PEG-20 Glyceryl Triisostearate, Butylene Glycol, Sorbitol,
                        Sodium Hyaluronate,
                        Royal Jelly Extract, Cynara Scolymus (Artichoke) Leaf Extract, Olea Europaea (Olive) Fruit Oil,
                        Quillaja
                        Saponaria Bark Extract, Sapindus Mukurossi Peel Extract, Piper Longum Fruit Extract, Dipotassium
                        Glycyrrhizate,
                        Tocopherol, Arginine, Acrylates/C10-30 Alkyl Acrylate Crosspolymer, Phenoxyethanol.
                    </p>
                </div>
                <span class="features__text-big">
                    Be sure to read the full ingredient list to avoid aggravating any known skin sensitivities or
                    allergies.
                </span>
                <span class="features__text-small">
                    The products for sale on Denka Corporation's (“Denka”) website are intended to enhance beauty
                    routines.
                    Please know that the products have not been evaluated by the FDA, and are not intended to diagnose,
                    cure,
                    mitigate, prevent or treat diseases or health conditions. <br><br>
                    For best results, read labels and ingredients carefully and follow directions for use. If you have a
                    specific
                    allergy or sensitivity, avoid ingredients that may trigger a reaction. Denka is not liable for
                    adverse reactions
                    to any ingredient. For your safety, test products on a small patch of skin before use, especially if
                    there is
                    any doubt or history of reactions.
                </span>
            </div>
        </div>
        <div class="features__right-box-mid">
            <div class="features__heading-sub">
                <h3>Key Ingredients</h3>
            </div>
            <div class="features__text-mid">
                <p>
                    U1 makeup cleansing is formulated with plant-based cleansing agents, quillaja extract and organic
                    soapnut
                    extract (sapindus mukurossi extract) to thoroughly rinse away make-up and impurities. <br><br>
                    Rich in glycerin and many other emollient ingredients that lock in hydration, even after being
                    rinsed off,
                    and prevent skin from drying out. Skin is left feeling smooth and moisturized. <br><br>
                    Artichoke leaf extract. Lauded for being high in Vitamin C and for assisting in collagen production
                    and
                    detoxification to promote a youthful complexion.
                </p>
            </div>
        </div>
    </div>
    <div class="features__content-bottom">
        <div class="features__img-box-bottom">
            <picture class="features__img-bottom">
                <source media="(max-width: 600px)" srcset="http://127.0.0.1:5500/img/product/U_Series-product.png">
                <source media="(max-width: 1200px)" srcset="http://127.0.0.1:5500/img/product/U_Series-product.png">
                <img src="http://127.0.0.1:5500/img/product/U_Series-product.png" alt="Uruoi Image">
            </picture>
        </div>
        <div class="features__wrap-bottom">
            <div class="features__heading-sub">
                <h3>How to use</h3>
            </div>
            <div class="features__text-bottom">
                <p>
                    <span class="features__separator"><span class="features__num">01.</span> Apply to dry hands and
                        lightly massage into dry face </span>
                    <span class="features__separator"><span class="features__num">02.</span>Massage continuously to
                        promote blood circulation while removing impurities to promote healthier skin </span>
                    <span class="features__separator"><span class="features__num">03.</span>Massage thoroughly into
                        areas with make-up, avoid direct contact with the eyes </span>
                    <span class="features__separator"><span class="features__num">04.</span>Remove by rinsing with
                        lukewarm water </span>
                    <span class="features__separator"><span class="features__num">05.</span>Follow up with a water-based
                        cleanser for a double cleanse </span>
                </p>
            </div>
        </div>
    </div>
</section>