<div id="wrapper" data-scroll-container data-router-view="index">
    {%- comment -%}
        {% section 'sets-products' %}
        {% section 'sets-full-ing-two' %}
        {% section 'how-to-use' %}
        {%- endcomment -%}
        {% section 'sets-full-ing-more' %}

    {{ content_for_index }}
     {% include 'global-footer' %}
</div>
    
