<div id="wrapper" data-scroll-container data-router-view="listCollections">
    {% section 'hero-collections' %}
    {% section 'products-grid' %}
    {% section 'drop' %}
    {% section 'find' %}
     {% include 'global-footer' %}
</div>