<div id="wrapper" data-scroll-container data-router-view="regimen">
    {% section 'hero-regimen' %}
    {% section 'centered-text' %}
    {% section 'category-buttons' %}
    <div class="regimen-section regimen-section--show">
        {% section 'product-slider-regimen' %}
    </div>
    <div class="regimen-section">
        {% section 'product-slider-regimen-normal' %}
    </div>
    <div class="regimen-section">
        {% section 'product-slider-regimen-sensitive' %}
    </div>
    <div class="regimen-section">
        {% section 'product-slider-regimen-dry' %}
    </div>
    {% include 'global-footer' %}
</div>