<div id="wrapper" data-scroll-container data-router-view="s">
    {% section 'hero-set' %}
    {% section 'text-with-three-imgs-set' %}
    {% section 'drop' %}
    {% section 'find' %}
    {% include 'global-footer' %}
</div>