<div id="wrapper" data-scroll-container data-router-view="regimen">
    {% section 'hero-regimen' %}
    {% section 'centered-text' %}
    {% section 'category-buttons' %}

    <div class='position-relative shopify-tabs'>
        <!-- @TODO 4 SLIDERS - THEY ARE LL THE SAME -- NEED TO BE RESOLVED -->
        <div class="regimen-section regimen-section--show tab-section">
            {% section 'product-slider-regimen' %}
        </div>

        <div class="regimen-section tab-section">
            {% section 'product-slider-regimen-normal' %}
        </div>

        <div class="regimen-section tab-section">
            {% section 'product-slider-regimen-sensitive' %}
        </div>

        <div class="regimen-section tab-section">
            {% section 'product-slider-regimen-dry' %}
        </div>
        <!-- END :: @TODO 4 SLIDERS - THEY ARE LL THE SAME -- NEED TO BE RESOLVED -->
    </div>

    {% include 'global-footer' %}
</div>