<div id="wrapper" data-scroll-container data-router-view="s">
    {% section 'hero-s' %}
    {% section 'text-with-three-imgs' %}
    {% section 'drop' %}
    {% section 'find' %}
     {% include 'global-footer' %}
</div>