<div id="wrapper" data-scroll-container data-router-view="product">
    {% section 'product' %}
    111111
    {% section 'zigzag' %}
    {% section 'also-like' %}
    {% section 'find' %}
    {% include 'global-footer' %}
</div>