{% schema %}
  {
  "name": "FAQ",
  "tag": "section",
  "settings": [
    {
      "id": "faq_title",
      "type": "text",
      "label": "FAQ Title",
      "default":"FAQ"
    }
  ],
    "blocks": [
      {
        "type": "question",
        "name": "Faq Section",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "FAQ Question"
          },
          {
            "id": "answer",
            "type": "textarea",
            "label": "Faq Answer"
          }
        ]
      }
    ]
  }
{% endschema %}
{% if section.settings.faq_title %}
<div class="faq section-1">
    <div class="faq-holder">
        <h1 class="h1 font-lora text-center">{{section.settings.faq_title}}</h1>

        {% for block in section.blocks %} 
            {%- assign columnTitle = column -%}
            <button class="accordion h5 font-sans">{{block.settings.question}}</button>
            <div class="panel button-1 font-sans">
            <p>
                    {{block.settings.answer}}
            </p>
            </div>
      {% endfor %}
    </div>
</div>
{% endif %}

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    }
    ;
  }
  </script>