<div id="wrapper" data-scroll-container data-router-view="login">
    <section class="login">

        <!-- LEFT COLUMN -->
        <div 
        data-scroll 
        data-scroll-direction="vertical" 
        data-scroll-repeat="false"
        class="login__content should-animate from-y">
            <h1 class="login__title">Log In</h1>
            
            {% form 'customer_login', class: "form" %}
                {{ form_errors | default_errors }}
                {% for error in form_errors %}
                    {{ error }}
                {% endfor %}
                <ul class="login__inputs">
                    <li>
                        <div class="form__input-box">
                            <!-- <label for="email" class="form__label">email</label> -->
                            <input type="email" id="email" name="customer[email]" placeholder="email" class="input" required>
                        </div>
                    </li>
                    <li>
                        <div class="form__input-box">
                            <!-- <label for="password" class="form__label">Your password</label> -->
                            <input type="password" id="password" name="customer[password]" placeholder="password" class="input" required>
                        </div>
                    </li>
                    <button type="button" id="forgot-pass-btn" class="login__forgot">forgot your password?</button>
                </ul>
                <button type="subumit" class="btn btn--black">log in</button>
                <div class="login__signup-box">
                    <span>don't have an account?</span>
                    <a href="{{ routes.account_register_url }}" class="login__underline-btn">sign up</a>
                </div> 
            {% endform %}
        </div>
        <!-- END :: LEFT COLUMN -->

        <!-- RIGHT COLUMN -->
        <div 
        data-scroll 
        data-scroll-direction="vertical" 
        data-scroll-repeat="false"
        class="login__desktop should-animate">

            <div 
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false"
            class="login-img-wrap img-wrap-1 should-animate from-y dl-1">
                <picture>
                    <source media="(min-width: 1200px)" srcset="https://uruoiskincare.com/img/login-1.jpg">
                    <img src="" alt="Uruoi Home Background Image">
                </picture>
            </div> 

            <div 
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false"
            class="login-img-wrap img-wrap-2 should-animate from-y dl-2">
                <picture>
                    <source media="(min-width: 1200px)" srcset="https://uruoiskincare.com/img/login-2.jpg">
                    <img src="" alt="Uruoi Home Background Image">
                </picture>
            </div>

            <span
            class='should-animate from-y dl-3'
            data-scroll 
            data-scroll-direction="vertical" 
            data-scroll-repeat="false">
            おかえり! <br>
            Welcome Back.
            </span>
        </div>
        <!-- END :: RIGHT COLUMN -->

    </section> 
    {% include 'global-footer' %}
</div>