<div id="wrapper" data-scroll-container data-router-view="register">
    <section class="login">
        <div class="login__content">
            <h1 class="login__title">Create Account</h1>
            
            {% form 'create_customer', class: "form" %}
                {{ form_errors | default_errors }}
                <ul class="login__inputs">
                    <li>
                        <div class="form__input-box">
                            <!-- <label for="email" class="form__label">email</label> -->
                            <input type="text" id="first" name="customer[first_name]" placeholder="first name" class="input">
                        </div>
                    </li>
                    <li>
                        <div class="form__input-box">
                            <!-- <label for="email" class="form__label">email</label> -->
                            <input type="text" id="last" name="customer[last_name]" placeholder="last name" class="input">
                        </div>
                    </li>
                    <li>
                        <div class="form__input-box">
                            <!-- <label for="email" class="form__label">email</label> -->
                            <input type="email" id="email" name="customer[email]" placeholder="email" class="input">
                        </div>
                    </li>
                    <li>
                        <div class="form__input-box">
                            <!-- <label for="password" class="form__label">Your password</label> -->
                            <input type="password" id="password" name="customer[password]" placeholder="password" class="input">
                        </div>
                    </li>
                </ul>
                <button type="subumit" class="btn btn--black">sign up</button>
                <div class="login__signup-box">
                    <span>already have an account?</span>
                    <a href="/account" class="login__underline-btn">log in</a>
                </div> 
            {% endform %}  
        </div>
        <div class="login__desktop">
            <div class="login-img-wrap img-wrap-1">
                <picture>
                    <source media="(min-width: 1200px)" srcset="https://uruoiskincare.com/img/login-1.jpg">
                    <img src="" alt="Uruoi Home Background Image">
                </picture>
            </div> 
            <div class="login-img-wrap img-wrap-2">
                <picture>
                    <source media="(min-width: 1200px)" srcset="https://uruoiskincare.com/img/login-2.jpg">
                    <img src="" alt="Uruoi Home Background Image">
                </picture>
            </div>
            <span>
                はじめまして！<br>
                Nice to meet you.
            </span>
        </div>
    </section> 
    {% include 'global-footer' %}
</div>