.contact-page {
    margin: 0 1rem 0;
    h1 {
        margin-bottom:1.25rem;
        @include respond-to(md) {
            margin-bottom:1.75rem;
        }
    }
    @include respond-to(md) {
        margin: 0 9rem 0;
    }
    .subhead {
        max-width: 34rem;
        margin:0 auto;
        margin-bottom:2.5rem;
        @include respond-to(md) {
            margin-bottom:5rem;
        }
    }
    .form {
        width:100%;
        form {
            width:100%;
        }
        @include respond-to(md) {
            width:unset;
            form {
                width:unset;
            }
        }
    }
    .info {
        margin-bottom:3rem;
        width:100%;
        @include respond-to(md) {
            margin-bottom:6rem;
            width:unset;
        }
        .h2 {
            margin-bottom:1.2rem;
            @include respond-to(md) {
                margin-bottom:1.75rem;
            }
        }
        a {
            display: block;
            text-decoration: underline !important;
            color:#A8A795;
        }
    }
    .first-row {
        margin-bottom:1rem;
        flex-wrap: wrap;
        @include respond-to(md) {
            flex-wrap: nowrap;
        }
        input {
            border:1px solid black;
            border-style: inset;
            text-indent:.75rem;
            height:2.5rem;
            width:99%;
            @include respond-to(md) {
                width:13.5rem;
                height:2.5rem;
            }
            &:first-child {
                margin-bottom:1rem;
                @include respond-to(md) {
                    margin-bottom:0rem;
                    margin-right:1rem;
                }
            }
        }
    }
    .second-row {
        margin-bottom:1rem;
        input {
            border:1px solid black;
            border-style: inset;
            text-indent:.75rem;
            width:99%;
            height:2.5rem;
        }
    }
    .message {
        margin-bottom:1.5rem;
        textarea {
            height:7.5rem;
            width:98.5%;
            text-indent:.75rem;
            border:1px solid black;
            border-style: inset;
            padding-top: 1rem;
            &:focus-visible {
                outline:none;
            }
        }
    }
    .contact-form-holder {
        margin-bottom:3rem;
        @include respond-to(md) {
            margin-bottom: 6rem;
        }
    }
    .c-button {
        margin:0 auto;
        letter-spacing:.15em;
        text-transform: uppercase;
        @include respond-to(md) {
            margin: 0;
        }
    }
}