.regimen-section {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity .6s, visibility .6s;

    &--show {
        visibility:visible;
        max-height: unset;
        visibility: visible;
        opacity: 1;
        transition: opacity .6s, visibility .6s;
    }
}