<section class="series">
    <div class="container-left">
    <div class="series__container">
       <div class="series__wrap">
          <h2>S-Series</h2> 
          <h6>Relieving Dryness with <br> a Gentle Touch.</h6> 
         <div class="series__text d-none-1">
          <p>S-Series, specially designed for sensitive skin, formulated to be mildly-acidic and gentle in its formula to soothe and calm sensitive skin. S-series is not only a great choice for the sensitive skin but also great for someone who needs gentle skincare.</p>       
       </div>
          <div class="series__btn-box">
          <a href="#" class="btn d-none-1">
             <span class="btn--span">
                <span class="btn--arrow">
                   <svg width="28px" height="19px" viewBox="0 0 28 19"><g stroke="none" stroke-width="1" fill-rule="evenodd"><g transform="translate(-230.000000, -3082.000000)"><path d="M248.747826,3082 L247.530435,3083.39706 C250.93913,3086.75 253.373913,3089.07843 254.834783,3090.38235 C249.709069,3090.33044 241.430808,3090.33044 230,3090.38235 L230,3092.05882 C241.434357,3092.01824 249.712618,3092.01824 254.834783,3092.05882 C253.373913,3093.54902 250.93913,3095.97059 247.530435,3099.32353 L248.747826,3101 L258,3091.22059 L248.747826,3082 Z"></path></g></g>
                   </svg>
                </span>
                discover s-series
                </span>
                </a>
             </div>
             </div>
          <div class="series__img-content">
             <div class="series__img-box">
                <picture class="series__img">
                   <source media="(max-width: 600px)" srcset="{{ "test-home-s-series-mobile.jpg" | asset_url }}">
                   <source media="(max-width: 1200px)" srcset="{{ "test-home-s-series.jpg" | asset_url }}"> 
                   <img src="{{ "test-home-s-series.jpg" | asset_url }}" alt="Uruoi S-series image">
                </picture>
             </div> 
             <div class="series__text d-none-md">
             <p>S-Series, specially designed for sensitive skin, formulated to be mildly-acidic and gentle in its formula to soothe and calm sensitive skin. S-series is not only a great choice for the sensitive skin but also great for someone who needs gentle skincare.</p> 
          </div>
             <div class="series__button-wrapper ">
                <a href="#" class="btn d-none-md">
                <span class="btn--span">
                   <span class="btn--arrow">
                   <svg width="28px" height="19px" viewBox="0 0 28 19"><g stroke="none" stroke-width="1" fill-rule="evenodd"><g transform="translate(-230.000000, -3082.000000)"><path d="M248.747826,3082 L247.530435,3083.39706 C250.93913,3086.75 253.373913,3089.07843 254.834783,3090.38235 C249.709069,3090.33044 241.430808,3090.33044 230,3090.38235 L230,3092.05882 C241.434357,3092.01824 249.712618,3092.01824 254.834783,3092.05882 C253.373913,3093.54902 250.93913,3095.97059 247.530435,3099.32353 L248.747826,3101 L258,3091.22059 L248.747826,3082 Z"></path></g></g>
                   </svg>
                </span>
                   discover s-series
                </span>
                </a>
             </div> 
          </div>
       </div>
    </div>
 </section>