<section class="science">
    <div class="container">
       <picture class="science__img">
          <source media="(max-width: 600px)" srcset="{{ "test-drop.jpg" | asset_url }}">
          <source media="(max-width: 1200px)" srcset="{{ "test-drop.jpg" | asset_url }}"> 
          <img src="{{ "test-drop.jpg" | asset_url }}" alt="Uruoi S-series image">
       </picture>
       <div class="science__wrap">
       <a href="#" class="science__link">
          <div class="science__subtitle">
          <span class="science__span">SINCE 1989</span>
       </div> 
       <div class="science__title">
       <h4>Science To Skin Care</h4>
    </div> 
    <div>
       <div class="science__text">
        <p>
            Sharing the bounty of our harvest. That is the spirit behind "uruoi," a hyaluronic skincare product developed by Denka. 
            Every product in our lineup contains D.P.H.A. ™️: Denka Pure Hyaluronic Acid. 
            Produced using Denka' fermentation process, this highly moisturizing ingredient helps to make the skin 
            soft and supple.
        </p>
        </div>
    </div>
 </a>
</div>
</div>
 </section>