<div id="cart" class="global-cart" :class="{active: cartIsOpen}" data-free-ship-threshold="{{ settings.free_shipping | json }}" v-cloak>
  <div class="global-cart__overlay bg--black--80" @click="toggleCart"></div>
  <div class="global-cart__drawer section-2">
    <div class="global-cart__title-wrapper">
      <h3 class="">Cart</h3>
      <div style="z-index:999999;" class="clickable--icon close" @click="toggleCart">
        {% render 'x' %}
      </div>
    </div>
    <div class="global-cart__drawer__error-bar row row--align-center row--justify-center" :class="{active: cartError}">
      <span class="error type--p color--error">${ cartError }</span>
    </div>
    <ul class="list list--no-style global-cart__drawer__item-list row row--direction-column row--no-wrap row--no-padding">
      <line-item inline-template
      v-for="item in cartData.items"
      v-if="item.quantity > 0"
      :key="item.key"
      :item="item"
      :loading="loadingIds.includes(item.variant_id)"
      v-on:change-line="changeCart">
        <li class="item d-flex position-relative" :class="{loading: loading}">
          <div class="item__image-wrap">
            <a v-if="item.image" :href="item.url">
              <img :src="thumbnailImg" :alt="item.product_title">
            </a>
          </div>

          <div class="wl-item-info">
            <div class="top d-flex justify-content-between align-items-center">
              <a class="p1 color-black font-sans d-block item-title" :href="item.url">${ item.product_title }</a>
              <div class="p1 color-black font-sans d-block item-price" v-if="item.total_discount > 0">$${ origPrice }</div>
              <div class="p1 color-black font-sans d-block item-price" :class="{ 'color--error': item.total_discount > 0 }">$${ price }</div>
            </div>
            <span v-for="option in item.options_with_values" class="p1 font-sans default-title">${option.name}: ${option.value}</span>
            <div class="bottom">
              <div class="qty-adjust-wrap">
                <div class="quantity font-sans">
                  <button class="dec" @click="changeLine(item.quantity - 1)">
                    -
                  </button>
                  <span class="qty">${ item.quantity }</span>
                  <button class="inc" @click="changeLine(item.quantity + 1)">
                    +
                  </button>
                  </div>
              </div>
              <div class="position-absolute empty link reversed" @click="changeLine(0)">Remove</div>
            </div>
          </div>

        </li>
      </line-item>
      <div class="type--p empty-msg h5 font-sans" v-if="cartData.item_count === 0">How Sad! Your bag is currently empty.</div>
    </ul>
    <div class="global-cart__drawer__footer d-flex flex-wrap flex-column section-2">
      {% comment %} <span class="shipping-msg type--s">You’re $${fromFreeShip} away from free shipping!</span> {% endcomment %}
      <div class="d-flex justify-content-between subtotal-wrapper"> 
        <span class="serif">Subtotal</span>
        <span class="sans">$${total}</span>
      </div>
      <!-- <p class="p2 font-sans text-center shipping-msg">Shipping & Taxes Calculated at Checkout</p> -->
      <a v-if="cartData.items && cartData.items.length > 0" class="btn cta checkout-link clickable--contained clickable--contained--primary width--100 hero-button color-white bg-black button-big button-1 d-flex justify-content-center flex-column align-items-center font-sans" :href="checkoutUrl">
        <span class="btn--span">
          <span class="btn--arrow">
          <svg width="28px" height="19px" viewBox="0 0 28 19">
              <g stroke="none" stroke-width="1" fill-rule="evenodd">
                <g transform="translate(-230.000000, -3082.000000)">
                    <path
                      d="M248.747826,3082 L247.530435,3083.39706 C250.93913,3086.75 253.373913,3089.07843 254.834783,3090.38235 C249.709069,3090.33044 241.430808,3090.33044 230,3090.38235 L230,3092.05882 C241.434357,3092.01824 249.712618,3092.01824 254.834783,3092.05882 C253.373913,3093.54902 250.93913,3095.97059 247.530435,3099.32353 L248.747826,3101 L258,3091.22059 L248.747826,3082 Z">
                    </path>
                </g>
              </g>
            </svg>
          </span>
            Checkout
        </span>
      </a>
      <a v-else class="checkout-link clickable--contained clickable--contained--primary width--100">
        Empty Bag
      </a>
    </div>
  </div>
</div>