<div id="promo" class="section-1 position-relative promo">
  <div class="text-center pb-2 pt-2">
        <p class="p2 font-sans">{{ settings.pop_over}}</p>
  </div>
  <div class="promo-close position-absolute">
  {% render 'x' %}
  </div>
</div>