
$spacer: 1rem;

$spacers: ();

$s1: $spacer * 1;
$s15: $spacer * 1.5;
$s2: $spacer * 2;
$s3: $spacer * 3;
$s4: $spacer * 4;
$s5: $spacer * 5;
$s6: $spacer * 7;
$s7: $spacer * .5;
$s8: $spacer * 8.8;
$s9: $spacer * 6;
$s10: 25vw;
$s20: 40vw;
$s30: ($s10 + $s20);

$spacers: map-merge((
  0: 0,
  small: ($spacer * .5),
  1: ($s1),
  15: ($s15),
  2: ($s2),
  3: ($s3),
  4: ($s4),
  5: ($s5),
  6: ($s6),
  7: ($s7),
  8: ($s8),
  9: ($s9)),
$spacers);


$font-family-sans-serif: "TheSansPlain";


$font-size-base:              1rem; // on 1600 px width 1rem is 20px

$h1-font-size:                $font-size-base * 4.5;
$h2-font-size:                $font-size-base * 2.4;
$h3-font-size:                $font-size-base * 1;
$h4-font-size:                $font-size-base * 2.2;
$h5-font-size:                $font-size-base * 1.75;
$h6-font-size:                $font-size-base * .8;

$medium-font-size:            1.21rem;
$small-font-size:             .6rem;

$display1-size:               10.5vw;
$display2-size:               7.7rem;
$display3-size:               6.6rem;
$display4-size:               4.95rem;

$headings-line-height:        1.1 !default;
$headings-font-weight:        normal !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;
$grid-row-columns:            5 !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
$sizes: map-merge((
  10: 10%,
  25: 25%,
  40: 40%,
  50: 50%,
  60: 60%,
  75: 75%,
  100: 100%,
  auto: auto
), $sizes);

$grid-gutter-width: 0;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px,
  xlg: 1400px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 767px,
  lg: 768px,
  xl: 1200px,
  xlg: 1600px
);