/* --------------------------------------
  TYPOGRAPHY
-------------------------------------- */

// TheSans - English
// @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
// @font-face {
//     font-family: "Lora";
//     font-display: block;
//     src: url("/fonts/Lora-Regular.ttf");
//     font-style: normal;
//   }

// =========================================
// HELVETICA
// =========================================
@font-face {
    font-family: "Helvetica";
    font-display: block;
    src: url("/fonts/Helvetica.woff"), 
         url("/fonts/Helvetica.woff2");
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    font-display: block;
    font-weight: 300;
    src: url("/fonts/Helvetica-Light.woff"), 
         url("/fonts/Helvetica-Light.woff2");
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    font-display: block;
    font-weight: 400;
    src: url("/fonts/Helvetica-Oblique.woff"), 
         url("/fonts/Helvetica-Oblique.woff2");
    font-style: italic;
}

@font-face {
    font-family: "Helvetica";
    font-display: block;
    font-weight: 700;
    src: url("/fonts/Helvetica-BoldOblique.woff"), 
         url("/fonts/Helvetica-BoldOblique.woff2");
    font-style: italic;
}

@font-face {
    font-family: "Helvetica";
    font-display: block;
    font-weight: 700;
    src: url("/fonts/Helvetica-Bold.woff"), 
         url("/fonts/Helvetica-Bold.woff2");
    font-style: normal;
}

// =========================================
// GT SECTRA DISPLAY
// =========================================
@font-face {
    font-family: "GTSectraDisplay";
    font-display: block;
    font-weight: 400;
    src: url("/fonts/GTSectraDisplay-Regular.woff"), 
         url("/fonts/GTSectraDisplay-Regular.woff2");
    font-style: normal;
}

@font-face {
    font-family: "GTSectraDisplay";
    font-display: block;
    font-weight: 400;
    src: url("/fonts/GTSectraDisplay-RegularItalic.woff"), 
         url("/fonts/GTSectraDisplay-RegularItalic.woff2");
    font-style: italic;
}