.font-bold {
  font-weight: bold !important;
}

$fontConfig: (
  mobile: (
    h1: ($font-size-base * 1.6, 1.28, .0),
    h2: ($font-size-base * 2.3, 1.1875, .0),
    h3: ($font-size-base * 1.2, 1.3, .0),
    h4: ($font-size-base * .9, 1.38, .2),
    h5: ($font-size-base * .9, 1.38, .0),
    p1: ($font-size-base * .8, 1.5, .0),
    p2: ($font-size-base * .7, 1.14, .0),
    button-1: ($font-size-base * .75, 1.5, .0),
    list: ($font-size-base * .8, 1.55, .0),
  ),

  md: (
    h1: ($font-size-base * 2.5, 1.28, .0),
    h2: ($font-size-base * 3.2, 1.1875, .0),
    h3: ($font-size-base * 1.2, 1.3, .0),
    h4: ($font-size-base * .9, 1.38, .0.2),
    h5: ($font-size-base * .9, 1.38, .0),
    p1: ($font-size-base * .8, 1.5, .0),
    p2: ($font-size-base * .7, 1.14, .0),
    button-1: ($font-size-base * .8, 1.5, .0),
    list: ($font-size-base * .9, 1.66, .0),
  ),

  lg: (
    h1: ($font-size-base * 2.5, 1.28, .0),
    h2: ($font-size-base * 4.8, 1.1875, .0),
    h3: ($font-size-base * 1.2, 1.3, .0),
    h4: ($font-size-base * .9, 1.38, .2),
    h5: ($font-size-base * .9, 1.38, .0),
    p1: ($font-size-base * .8, 1.5, .0),
    p2: ($font-size-base * .7, 1.14, .0),
    button-1: ($font-size-base * .8, 1.5, .0),
    list: ($font-size-base * .9, 1.66, .0),
  )
);