* {
   box-sizing: border-box;
}

html,
body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-overflow-scrolling: touch;
   font-family: "TheSansPlain";
   color: $black;
   height: 100%;
   width: 100%;
}