/* --------------------------------------
    RESPONSIVE
-------------------------------------- */

$max-width: 1200px;
$mid-width: 680px;

$breakpoints: (
  xs: 480px,
  sm: 600px,
  md: 768px,
  lg: 1200px,
  xlg: 1600px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @media screen and (min-width: $value) {
      @content;
    }
  }

  @else {
    @warn "Unknown `#{$breakpoint}` in $breakpoints";
  }
}

/**
 *  USAGE EXAMPLE:
 *
 *  .main {
 *      @include respond-to(xs) {}
 *      @include respond-to(sm) {}
 *      @include respond-to(md) {}
 *      @include respond-to(lg) {}
 *  }
 */
