.container {
    margin: 0 auto;
    padding: 0 2rem;
  
    @include respond-to(xs) {
      max-width: 58rem;
    }
  
    @include respond-to(md) {
      max-width: none;
      padding: 0 10.8vw;
    }
  }
  
  .container-left {
    margin: 0 auto;
    padding: 0 2rem;
  
    @include respond-to(xs) {
      max-width: 58rem;
    }
  
    @include respond-to(md) {
      padding: 0;
      padding-left: 10.8vw !important;
      max-width: none !important;
    }
  }
  
  .d-none-1 {
    display: none !important;
  
    @include respond-to(md) {
      display: flex !important;
    }
  }
  
  .d-none-2 {
    display: none !important;
  
    @include respond-to(lg) {
      display: flex !important;
    }
  }
  
  .d-none-md {
    @include respond-to(md) {
      display: none !important;
    }
  }
  
  .d-none-lg {
    @include respond-to(lg) {
      display: none !important;
    }
  }
  
  .mb-3 {
    margin-bottom: 3rem;
  }
  
  .mb-1-to-sm {
    margin-bottom: 1rem;
    @include respond-to(sm) {
      margin-bottom: 0rem;
    }
  }
  
  .slick-disabled {
    display: none !important;
  }
  
  .font-size-4 {
    font-size: 3rem;
  }
  