//PRIMARY COLORS
$black: #000000;
$lifoGray: #D8D6C8;
$lifoGreen: #04765B;
$lifoLight:#F4F3E1;


//ADDITIONAL COLORS
$orange: #F25921;
$orangeLight: #FCD9CC;
$lightGreen: #C4C9B0;
$mediumGreen: #B7BB9C;
$white: #ffffff;
$red: #EF5A24;
$gray: #AAAAAA;
$gray2: #858585;



//size

$smallContainer: 1600px;



 


