
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, a {
    margin: 0;
    padding: 0;
  }
  
  .h1, .h2, .h3, .h4, .h5, .h6 {
    p,
    a,
    span,
    li {
        font-size: inherit;
         // !important
        margin: 0;
        padding: 0;
    }
  }
  
  p,
  a,
  span,
  li {
      margin: 0;
      padding: 0;
  }
  
//   .regular-font{
//     font-size: $font-size-base!important;
//   }
  
//   .light-font {
//     font-family: $lightFont;
//   }
  
//   .thin-font{
//     font-family: $thinFont!important;  
//   }
  
//   .regular-font-md{
//     @include media-breakpoint-up(md) {
//       font-family: $regularFont!important;
//     } 
//   }

h1,
.h1 {
  font-size: 3rem;
  color: $color-white;
  font-family: $ff-serif;
  text-transform: uppercase;
  @include respond-to(lg) {
    font-size: 9rem;
  }
}

h2 {
  font-size: 3.2rem;
  font-family: $ff-serif;
  margin-bottom: 1.9rem;

  @include respond-to(sm) {
    font-size: 2.5rem;
  }

  @include respond-to(lg) {
    font-size: 4rem;
  }

  @include respond-to(xlg) {
    font-size: 4.8rem;
  }
}

h3 {
  font-size: 2.4rem;
  font-family: $ff-serif;
  margin-bottom: 3rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: normal;
  color: $color-black;

  @include respond-to(lg) {
    font-size: 4rem;
  }

  @include respond-to(lg) {
    font-size: 5rem;
  }
}

h5 {
  font-size: 2.5rem;
  font-family: $ff-serif;
  font-weight: normal;

  @include respond-to(xlg) {
    font-size: 3rem;
  }
}

h6 {
  font-size: 1.6rem;
  font-family: $ff-serif;
  font-weight: normal;
  color: $color-grey;
  margin-bottom: 1.8rem;

  @include respond-to(md) {
    font-size: 2.6rem;
  }
}

  
  // RESPONSIVE
  html {
    font-size: 3.2vw;

    @include respond-to(md) {
      // font-size: 1.6vw !important; //23.04px
      font-size: 1.304vw !important; //10px
    }
    
    @include respond-to(lg) {
      // font-size: 1.38889vw !important; //20px
      font-size: 0.521vw !important; //10px
    }
}
  